![Nuclio logo](https://nuclio.school/wp-content/uploads/2018/12/nucleoDS-newBlack.png)

In [9]:
#Importação de pacotes
import pandas as pd  # Series and DataFrames
import numpy as np  # linear algebra
import matplotlib
import matplotlib.pyplot as plt
import sweetviz as sv
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go 
import math

# nltk
import nltk
import ast
import random
import warnings
 


from matplotlib import cm
from plotly.subplots import make_subplots 
from sklearn import preprocessing
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError   
from sklearn.model_selection import train_test_split
from dython.nominal import associations

#from pandas_profiling import ProfileReport
%matplotlib inline

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 

pd.set_option('display.max_columns', None)

# visualization
from wordcloud import WordCloud
colors = ['#494BD3', '#E28AE2', '#F1F481', '#79DB80', '#DF5F5F',
              '#69DADE', '#C2E37D', '#E26580', '#D39F49', '#B96FE3']
from plotly.offline import init_notebook_mode, iplot

from dython.nominal import associations

pd.set_option('display.max_columns', None)
# from matplotlib import pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
pd.set_option('display.max_rows', 500)
pd.options.display.float_format = '{:,.2f}'.format

In [10]:
from PIL import Image
from IPython.display import display

In [11]:
from sklearn import __version__ as sklearn_version
print('Installed version for scikit-learn: {}.'.format(sklearn_version))

Installed version for scikit-learn: 1.0.2.

In [12]:
# Informa a URL de importação do dataset
# Função para ler os datasets
# OBS: o caminho deverá serguir o caminho do diretorio que está na sua maquina configurado. No meu, está dentro da pasta "data/data_dsmarket/"

def read_dataset():
    try:
        # Caminhos corretos para os arquivos CSV
        dsales = pd.read_csv("data/data_dsmarket/item_sales.csv")## , index_col = 0
        print('"item_sales.csv" imported successfully!')
        # Exibir as primeiras linhas do dataframe
        

        dprices = pd.read_csv("data/data_dsmarket/item_prices.csv") ## , index_col = 0
        print('"item_prices.csv" imported successfully!')
        # Exibir as primeiras linhas do dataframe
      

        dcalendarios_eventos = pd.read_csv("data/data_dsmarket/daily_calendar_with_events.csv") ## ,index_col = 0
        print('"daily_calendar_with_events.csv" imported successfully!')
        # Exibir as primeiras linhas do dataframe
        

        return dsales, dprices, dcalendarios_eventos

    except FileNotFoundError as e:
        print(f"Erro: Arquivo não encontrado: {e}")
    except Exception as e:
        print(f"Erro ao ler o arquivo CSV: {e}")

In [13]:
# Carregando so datasets

In [14]:
%%time
dsales, dprices, dcalendarios_eventos=read_dataset()

"item_sales.csv" imported successfully!
"item_prices.csv" imported successfully!
"daily_calendar_with_events.csv" imported successfully!
Wall time: 4.77 s

## OBS: este EDA está send trabalhado para gerar  a granularidaded de  item / semana / preco/ qtdvenda / ... Ou seja, estamos trabalhandmo todas os dataframe com a ganularidade semana antes do merge

In [15]:
# Preparando o dataset de calendarios_eventos  paea poder realizar o Merge com o dataset de dprices

In [16]:
dcalendarios_eventos

            date    weekday  weekday_int       d event
0     2011-01-29   Saturday            1     d_1   NaN
1     2011-01-30     Sunday            2     d_2   NaN
2     2011-01-31     Monday            3     d_3   NaN
3     2011-02-01    Tuesday            4     d_4   NaN
4     2011-02-02  Wednesday            5     d_5   NaN
...          ...        ...          ...     ...   ...
1908  2016-04-20  Wednesday            5  d_1909   NaN
1909  2016-04-21   Thursday            6  d_1910   NaN
1910  2016-04-22     Friday            7  d_1911   NaN
1911  2016-04-23   Saturday            1  d_1912   NaN
1912  2016-04-24     Sunday            2  d_1913   NaN

[1913 rows x 5 columns]

In [17]:
dcalendarios_eventos.columns

Index(['date', 'weekday', 'weekday_int', 'd', 'event'], dtype='object')

In [18]:
# validando so nulos

In [19]:
dcalendarios_eventos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1913 entries, 0 to 1912
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1913 non-null   object
 1   weekday      1913 non-null   object
 2   weekday_int  1913 non-null   int64
 3   d            1913 non-null   object
 4   event        26 non-null     object
dtypes: int64(1), object(4)
memory usage: 74.9+ KB

In [20]:
dcalendarios_eventos.isnull().sum()

date              0
weekday           0
weekday_int       0
d                 0
event          1887
dtype: int64

In [21]:
## preenchendo as linhas nulas de evento "Sem Inoformação"

In [22]:
# Preencher os valores nulos na coluna 'yearweek' com 190000
dcalendarios_eventos['event'] = dcalendarios_eventos['event'].fillna('Sem Inoformação')

In [23]:
dcalendarios_eventos.isnull().sum()

date           0
weekday        0
weekday_int    0
d              0
event          0
dtype: int64

In [24]:
dcalendarios_eventos

            date    weekday  weekday_int       d            event
0     2011-01-29   Saturday            1     d_1  Sem Inoformação
1     2011-01-30     Sunday            2     d_2  Sem Inoformação
2     2011-01-31     Monday            3     d_3  Sem Inoformação
3     2011-02-01    Tuesday            4     d_4  Sem Inoformação
4     2011-02-02  Wednesday            5     d_5  Sem Inoformação
...          ...        ...          ...     ...              ...
1908  2016-04-20  Wednesday            5  d_1909  Sem Inoformação
1909  2016-04-21   Thursday            6  d_1910  Sem Inoformação
1910  2016-04-22     Friday            7  d_1911  Sem Inoformação
1911  2016-04-23   Saturday            1  d_1912  Sem Inoformação
1912  2016-04-24     Sunday            2  d_1913  Sem Inoformação

[1913 rows x 5 columns]

In [25]:
print(dcalendarios_eventos['date'].dtypes)

object

In [26]:
# criando das colunas semana, anosemana, a partir do campo date

In [27]:
dcalendarios_eventos['date'] = pd.to_datetime(dcalendarios_eventos['date'], errors='coerce')

In [28]:
dcalendarios_eventos = dcalendarios_eventos.reset_index()

In [29]:
# Agora você pode usar isocalendar() para obter o número da semana
dcalendarios_eventos['weeknumber'] = dcalendarios_eventos['date'].dt.isocalendar().week

In [30]:
dcalendarios_eventos.columns

Index(['index', 'date', 'weekday', 'weekday_int', 'd', 'event', 'weeknumber'], dtype='object')

In [31]:
# criando a coluna ano

In [32]:
# Agora você pode usar isocalendar() para obter o Ano
dcalendarios_eventos['year'] = dcalendarios_eventos['date'].dt.isocalendar().year

In [33]:
dcalendarios_eventos.columns

Index(['index', 'date', 'weekday', 'weekday_int', 'd', 'event', 'weeknumber',
       'year'],
      dtype='object')

In [34]:
# Criando da coluna anosemana

In [35]:
# Concatenar ano e número da semana no formato YYYYWW
dcalendarios_eventos['yearweek'] = dcalendarios_eventos['year'].astype(str) + dcalendarios_eventos['weeknumber'].astype(str).str.zfill(2)

In [36]:
dcalendarios_eventos.columns

Index(['index', 'date', 'weekday', 'weekday_int', 'd', 'event', 'weeknumber',
       'year', 'yearweek'],
      dtype='object')

In [37]:
dcalendarios_eventos.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
date,2011-01-29 00:00:00,2011-01-30 00:00:00,2011-01-31 00:00:00,2011-02-01 00:00:00,2011-02-02 00:00:00,2011-02-03 00:00:00,2011-02-04 00:00:00,2011-02-05 00:00:00,2011-02-06 00:00:00,2011-02-07 00:00:00,2011-02-08 00:00:00,2011-02-09 00:00:00,2011-02-10 00:00:00,2011-02-11 00:00:00,2011-02-12 00:00:00,2011-02-13 00:00:00,2011-02-14 00:00:00,2011-02-15 00:00:00,2011-02-16 00:00:00,2011-02-17 00:00:00
weekday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday
weekday_int,1,2,3,4,5,6,7,1,2,3,4,5,6,7,1,2,3,4,5,6
d,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,d_11,d_12,d_13,d_14,d_15,d_16,d_17,d_18,d_19,d_20
event,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,SuperBowl,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação,Sem Inoformação
weeknumber,4,4,5,5,5,5,5,5,5,6,6,6,6,6,6,6,7,7,7,7
year,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011
yearweek,201104,201104,201105,201105,201105,201105,201105,201105,201105,201106,201106,201106,201106,201106,201106,201106,201107,201107,201107,201107

In [38]:
# passar a granularidade da tabela para semana , pois quero obter uma linha por evento semana

In [39]:
 
# Agrupando por ano, número da semana e evento
dcalendarios_eventos_semanal = dcalendarios_eventos.groupby(['year','yearweek', 'event']).agg({
    'date': 'first',  # Você pode usar 'first', 'min', 'max' dependendo do que quer na coluna de data
    #'year': 'first',  # Você pode usar 'first', 'min', 'max' dependendo do que quer na coluna de data
    'weekday': 'first',  # Primeiro dia da semana correspondente ao evento
    'weekday_int': 'first'  # Ou outro critério que faça sentido para seu caso 
}).reset_index()

# Exibir o DataFrame resultante
print(dcalendarios_eventos_semanal.head())

   year yearweek            event       date   weekday  weekday_int
0  2011   201104  Sem Inoformação 2011-01-29  Saturday            1
1  2011   201105  Sem Inoformação 2011-01-31    Monday            3
2  2011   201105        SuperBowl 2011-02-06    Sunday            2
3  2011   201106  Sem Inoformação 2011-02-07    Monday            3
4  2011   201107  Sem Inoformação 2011-02-14    Monday            3

In [40]:
dcalendarios_eventos_semanal

     year yearweek            event       date    weekday  weekday_int
0    2011   201104  Sem Inoformação 2011-01-29   Saturday            1
1    2011   201105  Sem Inoformação 2011-01-31     Monday            3
2    2011   201105        SuperBowl 2011-02-06     Sunday            2
3    2011   201106  Sem Inoformação 2011-02-07     Monday            3
4    2011   201107  Sem Inoformação 2011-02-14     Monday            3
5    2011   201108  Sem Inoformação 2011-02-21     Monday            3
6    2011   201109  Sem Inoformação 2011-02-28     Monday            3
7    2011   201110  Sem Inoformação 2011-03-07     Monday            3
8    2011   201111  Sem Inoformação 2011-03-14     Monday            3
9    2011   201112  Sem Inoformação 2011-03-21     Monday            3
10   2011   201113  Sem Inoformação 2011-03-28     Monday            3
11   2011   201114  Sem Inoformação 2011-04-04     Monday            3
12   2011   201115  Sem Inoformação 2011-04-11     Monday            3
13   2011   201116  Sem Inoformação 2011-04-18     Monday            3
14   2011   201117  Sem Inoformação 2011-04-25     Monday            3
15   2011   201118  Sem Inoformação 2011-05-02     Monday            3
16   2011   201119  Sem Inoformação 2011-05-09     Monday            3
17   2011   201120  Sem Inoformação 2011-05-16     Monday            3
18   2011   201121  Sem Inoformação 2011-05-23     Monday            3
19   2011   201122  Sem Inoformação 2011-05-30     Monday            3
20   2011   201123  Sem Inoformação 2011-06-06     Monday            3
21   2011   201124  Sem Inoformação 2011-06-13     Monday            3
22   2011   201125  Sem Inoformação 2011-06-20     Monday            3
23   2011   201126  Sem Inoformação 2011-06-27     Monday            3
24   2011   201127  Sem Inoformação 2011-07-04     Monday            3
25   2011   201128  Sem Inoformação 2011-07-11     Monday            3
26   2011   201129  Sem Inoformação 2011-07-18     Monday            3
27   2011   201130  Sem Inoformação 2011-07-25     Monday            3
28   2011   201131   Ramadan starts 2011-08-01     Monday            3
29   2011   201131  Sem Inoformação 2011-08-02    Tuesday            4
30   2011   201132  Sem Inoformação 2011-08-08     Monday            3
31   2011   201133  Sem Inoformação 2011-08-15     Monday            3
32   2011   201134  Sem Inoformação 2011-08-22     Monday            3
33   2011   201135  Sem Inoformação 2011-08-29     Monday            3
34   2011   201136  Sem Inoformação 2011-09-05     Monday            3
35   2011   201137  Sem Inoformação 2011-09-12     Monday            3
36   2011   201138  Sem Inoformação 2011-09-19     Monday            3
37   2011   201139  Sem Inoformação 2011-09-26     Monday            3
38   2011   201140  Sem Inoformação 2011-10-03     Monday            3
39   2011   201141  Sem Inoformação 2011-10-10     Monday            3
40   2011   201142  Sem Inoformação 2011-10-17     Monday            3
41   2011   201143  Sem Inoformação 2011-10-24     Monday            3
42   2011   201144  Sem Inoformação 2011-10-31     Monday            3
43   2011   201145  Sem Inoformação 2011-11-07     Monday            3
44   2011   201146  Sem Inoformação 2011-11-14     Monday            3
45   2011   201147  Sem Inoformação 2011-11-21     Monday            3
46   2011   201147     Thanksgiving 2011-11-24   Thursday            6
47   2011   201148  Sem Inoformação 2011-11-28     Monday            3
48   2011   201149  Sem Inoformação 2011-12-05     Monday            3
49   2011   201150  Sem Inoformação 2011-12-12     Monday            3
50   2011   201151  Sem Inoformação 2011-12-19     Monday            3
51   2011   201152          NewYear 2012-01-01     Sunday            2
52   2011   201152  Sem Inoformação 2011-12-26     Monday            3
53   2012   201201  Sem Inoformação 2012-01-02     Monday            3
54   2012   201202  Sem Inoformação 2012-01-09     Monday            3
55   2012   201203  Sem Inoformação 2012-01-16     Monday            3
56   2012   201204  Sem Inoformação 2012-01-23     Monday            3
57   2012   201205  Sem Inoformação 2012-01-30     Monday            3
58   2012   201205        SuperBowl 2012-02-05     Sunday            2
59   2012   201206  Sem Inoformação 2012-02-06     Monday            3
60   2012   201207  Sem Inoformação 2012-02-13     Monday            3
61   2012   201208  Sem Inoformação 2012-02-20     Monday            3
62   2012   201209  Sem Inoformação 2012-02-27     Monday            3
63   2012   201210  Sem Inoformação 2012-03-05     Monday            3
64   2012   201211  Sem Inoformação 2012-03-12     Monday            3
65   2012   201212  Sem Inoformação 2012-03-19     Monday            3
66   2012   201213  Sem Inoformação 2012-03-26     Monday            3
67   2012   201214           Easter 2012-04-08     Sunday            2
68   2012   201214  Sem Inoformação 2012-04-02     Monday            3
69   2012   201215  Sem Inoformação 2012-04-09     Monday            3
70   2012   201216  Sem Inoformação 2012-04-16     Monday            3
71   2012   201217  Sem Inoformação 2012-04-23     Monday            3
72   2012   201218  Sem Inoformação 2012-04-30     Monday            3
73   2012   201219  Sem Inoformação 2012-05-07     Monday            3
74   2012   201220  Sem Inoformação 2012-05-14     Monday            3
75   2012   201221  Sem Inoformação 2012-05-21     Monday            3
76   2012   201222  Sem Inoformação 2012-05-28     Monday            3
77   2012   201223  Sem Inoformação 2012-06-04     Monday            3
78   2012   201224  Sem Inoformação 2012-06-11     Monday            3
79   2012   201225  Sem Inoformação 2012-06-18     Monday            3
80   2012   201226  Sem Inoformação 2012-06-25     Monday            3
81   2012   201227  Sem Inoformação 2012-07-02     Monday            3
82   2012   201228  Sem Inoformação 2012-07-09     Monday            3
83   2012   201229   Ramadan starts 2012-07-20     Friday            7
84   2012   201229  Sem Inoformação 2012-07-16     Monday            3
85   2012   201230  Sem Inoformação 2012-07-23     Monday            3
86   2012   201231  Sem Inoformação 2012-07-30     Monday            3
87   2012   201232  Sem Inoformação 2012-08-06     Monday            3
88   2012   201233  Sem Inoformação 2012-08-13     Monday            3
89   2012   201234  Sem Inoformação 2012-08-20     Monday            3
90   2012   201235  Sem Inoformação 2012-08-27     Monday            3
91   2012   201236  Sem Inoformação 2012-09-03     Monday            3
92   2012   201237  Sem Inoformação 2012-09-10     Monday            3
93   2012   201238  Sem Inoformação 2012-09-17     Monday            3
94   2012   201239  Sem Inoformação 2012-09-24     Monday            3
95   2012   201240  Sem Inoformação 2012-10-01     Monday            3
96   2012   201241  Sem Inoformação 2012-10-08     Monday            3
97   2012   201242  Sem Inoformação 2012-10-15     Monday            3
98   2012   201243  Sem Inoformação 2012-10-22     Monday            3
99   2012   201244  Sem Inoformação 2012-10-29     Monday            3
100  2012   201245  Sem Inoformação 2012-11-05     Monday            3
101  2012   201246  Sem Inoformação 2012-11-12     Monday            3
102  2012   201247  Sem Inoformação 2012-11-19     Monday            3
103  2012   201247     Thanksgiving 2012-11-22   Thursday            6
104  2012   201248  Sem Inoformação 2012-11-26     Monday            3
105  2012   201249  Sem Inoformação 2012-12-03     Monday            3
106  2012   201250  Sem Inoformação 2012-12-10     Monday            3
107  2012   201251  Sem Inoformação 2012-12-17     Monday            3
108  2012   201252  Sem Inoformação 2012-12-24     Monday            3
109  2013   201301          NewYear 2013-01-01    Tuesday            4
110  2013   201301  Sem Inoformação 2012-12-31     Monday            3
111  2013   201302  Sem Inoformação 2013-01-07     Monday            3
112  2013   201303  Sem Inoformação 2013-01-14     Monday            3
113  2013   201304  Sem Inoformação 2013-01-21     Monday            3
114  2013   201305  Sem Inoformação 2013-01-28     Monday            3
115  2013   201305        SuperBowl 2013-02-03     Sunday            2
116  2013   201306  Sem Inoformação 2013-02-04     Monday            3
117  2013   201307  Sem Inoformação 2013-02-11     Monday            3
118  2013   201308  Sem Inoformação 2013-02-18     Monday            3
119  2013   201309  Sem Inoformação 2013-02-25     Monday            3
120  2013   201310  Sem Inoformação 2013-03-04     Monday            3
121  2013   201311  Sem Inoformação 2013-03-11     Monday            3
122  2013   201312  Sem Inoformação 2013-03-18     Monday            3
123  2013   201313           Easter 2013-03-31     Sunday            2
124  2013   201313  Sem Inoformação 2013-03-25     Monday            3
125  2013   201314  Sem Inoformação 2013-04-01     Monday            3
126  2013   201315  Sem Inoformação 2013-04-08     Monday            3
127  2013   201316  Sem Inoformação 2013-04-15     Monday            3
128  2013   201317  Sem Inoformação 2013-04-22     Monday            3
129  2013   201318  Sem Inoformação 2013-04-29     Monday            3
130  2013   201319  Sem Inoformação 2013-05-06     Monday            3
131  2013   201320  Sem Inoformação 2013-05-13     Monday            3
132  2013   201321  Sem Inoformação 2013-05-20     Monday            3
133  2013   201322  Sem Inoformação 2013-05-27     Monday            3
134  2013   201323  Sem Inoformação 2013-06-03     Monday            3
135  2013   201324  Sem Inoformação 2013-06-10     Monday            3
136  2013   201325  Sem Inoformação 2013-06-17     Monday            3
137  2013   201326  Sem Inoformação 2013-06-24     Monday            3
138  2013   201327  Sem Inoformação 2013-07-01     Monday            3
139  2013   201328   Ramadan starts 2013-07-09    Tuesday            4
140  2013   201328  Sem Inoformação 2013-07-08     Monday            3
141  2013   201329  Sem Inoformação 2013-07-15     Monday            3
142  2013   201330  Sem Inoformação 2013-07-22     Monday            3
143  2013   201331  Sem Inoformação 2013-07-29     Monday            3
144  2013   201332  Sem Inoformação 2013-08-05     Monday            3
145  2013   201333  Sem Inoformação 2013-08-12     Monday            3
146  2013   201334  Sem Inoformação 2013-08-19     Monday            3
147  2013   201335  Sem Inoformação 2013-08-26     Monday            3
148  2013   201336  Sem Inoformação 2013-09-02     Monday            3
149  2013   201337  Sem Inoformação 2013-09-09     Monday            3
150  2013   201338  Sem Inoformação 2013-09-16     Monday            3
151  2013   201339  Sem Inoformação 2013-09-23     Monday            3
152  2013   201340  Sem Inoformação 2013-09-30     Monday            3
153  2013   201341  Sem Inoformação 2013-10-07     Monday            3
154  2013   201342  Sem Inoformação 2013-10-14     Monday            3
155  2013   201343  Sem Inoformação 2013-10-21     Monday            3
156  2013   201344  Sem Inoformação 2013-10-28     Monday            3
157  2013   201345  Sem Inoformação 2013-11-04     Monday            3
158  2013   201346  Sem Inoformação 2013-11-11     Monday            3
159  2013   201347  Sem Inoformação 2013-11-18     Monday            3
160  2013   201348  Sem Inoformação 2013-11-25     Monday            3
161  2013   201348     Thanksgiving 2013-11-28   Thursday            6
162  2013   201349  Sem Inoformação 2013-12-02     Monday            3
163  2013   201350  Sem Inoformação 2013-12-09     Monday            3
164  2013   201351  Sem Inoformação 2013-12-16     Monday            3
165  2013   201352  Sem Inoformação 2013-12-23     Monday            3
166  2014   201401          NewYear 2014-01-01  Wednesday            5
167  2014   201401  Sem Inoformação 2013-12-30     Monday            3
168  2014   201402  Sem Inoformação 2014-01-06     Monday            3
169  2014   201403  Sem Inoformação 2014-01-13     Monday            3
170  2014   201404  Sem Inoformação 2014-01-20     Monday            3
171  2014   201405  Sem Inoformação 2014-01-27     Monday            3
172  2014   201405        SuperBowl 2014-02-02     Sunday            2
173  2014   201406  Sem Inoformação 2014-02-03     Monday            3
174  2014   201407  Sem Inoformação 2014-02-10     Monday            3
175  2014   201408  Sem Inoformação 2014-02-17     Monday            3
176  2014   201409  Sem Inoformação 2014-02-24     Monday            3
177  2014   201410  Sem Inoformação 2014-03-03     Monday            3
178  2014   201411  Sem Inoformação 2014-03-10     Monday            3
179  2014   201412  Sem Inoformação 2014-03-17     Monday            3
180  2014   201413  Sem Inoformação 2014-03-24     Monday            3
181  2014   201414  Sem Inoformação 2014-03-31     Monday            3
182  2014   201415  Sem Inoformação 2014-04-07     Monday            3
183  2014   201416           Easter 2014-04-20     Sunday            2
184  2014   201416  Sem Inoformação 2014-04-14     Monday            3
185  2014   201417  Sem Inoformação 2014-04-21     Monday            3
186  2014   201418  Sem Inoformação 2014-04-28     Monday            3
187  2014   201419  Sem Inoformação 2014-05-05     Monday            3
188  2014   201420  Sem Inoformação 2014-05-12     Monday            3
189  2014   201421  Sem Inoformação 2014-05-19     Monday            3
190  2014   201422  Sem Inoformação 2014-05-26     Monday            3
191  2014   201423  Sem Inoformação 2014-06-02     Monday            3
192  2014   201424  Sem Inoformação 2014-06-09     Monday            3
193  2014   201425  Sem Inoformação 2014-06-16     Monday            3
194  2014   201426   Ramadan starts 2014-06-29     Sunday            2
195  2014   201426  Sem Inoformação 2014-06-23     Monday            3
196  2014   201427  Sem Inoformação 2014-06-30     Monday            3
197  2014   201428  Sem Inoformação 2014-07-07     Monday            3
198  2014   201429  Sem Inoformação 2014-07-14     Monday            3
199  2014   201430  Sem Inoformação 2014-07-21     Monday            3
200  2014   201431  Sem Inoformação 2014-07-28     Monday            3
201  2014   201432  Sem Inoformação 2014-08-04     Monday            3
202  2014   201433  Sem Inoformação 2014-08-11     Monday            3
203  2014   201434  Sem Inoformação 2014-08-18     Monday            3
204  2014   201435  Sem Inoformação 2014-08-25     Monday            3
205  2014   201436  Sem Inoformação 2014-09-01     Monday            3
206  2014   201437  Sem Inoformação 2014-09-08     Monday            3
207  2014   201438  Sem Inoformação 2014-09-15     Monday            3
208  2014   201439  Sem Inoformação 2014-09-22     Monday            3
209  2014   201440  Sem Inoformação 2014-09-29     Monday            3
210  2014   201441  Sem Inoformação 2014-10-06     Monday            3
211  2014   201442  Sem Inoformação 2014-10-13     Monday            3
212  2014   201443  Sem Inoformação 2014-10-20     Monday            3
213  2014   201444  Sem Inoformação 2014-10-27     Monday            3
214  2014   201445  Sem Inoformação 2014-11-03     Monday            3
215  2014   201446  Sem Inoformação 2014-11-10     Monday            3
216  2014   201447  Sem Inoformação 2014-11-17     Monday            3
217  2014   201448  Sem Inoformação 2014-11-24     Monday            3
218  2014   201448     Thanksgiving 2014-11-27   Thursday            6
219  2014   201449  Sem Inoformação 2014-12-01     Monday            3
220  2014   201450  Sem Inoformação 2014-12-08     Monday            3
221  2014   201451  Sem Inoformação 2014-12-15     Monday            3
222  2014   201452  Sem Inoformação 2014-12-22     Monday            3
223  2015   201501          NewYear 2015-01-01   Thursday            6
224  2015   201501  Sem Inoformação 2014-12-29     Monday            3
225  2015   201502  Sem Inoformação 2015-01-05     Monday            3
226  2015   201503  Sem Inoformação 2015-01-12     Monday            3
227  2015   201504  Sem Inoformação 2015-01-19     Monday            3
228  2015   201505  Sem Inoformação 2015-01-26     Monday            3
229  2015   201505        SuperBowl 2015-02-01     Sunday            2
230  2015   201506  Sem Inoformação 2015-02-02     Monday            3
231  2015   201507  Sem Inoformação 2015-02-09     Monday            3
232  2015   201508  Sem Inoformação 2015-02-16     Monday            3
233  2015   201509  Sem Inoformação 2015-02-23     Monday            3
234  2015   201510  Sem Inoformação 2015-03-02     Monday            3
235  2015   201511  Sem Inoformação 2015-03-09     Monday            3
236  2015   201512  Sem Inoformação 2015-03-16     Monday            3
237  2015   201513  Sem Inoformação 2015-03-23     Monday            3
238  2015   201514           Easter 2015-04-05     Sunday            2
239  2015   201514  Sem Inoformação 2015-03-30     Monday            3
240  2015   201515  Sem Inoformação 2015-04-06     Monday            3
241  2015   201516  Sem Inoformação 2015-04-13     Monday            3
242  2015   201517  Sem Inoformação 2015-04-20     Monday            3
243  2015   201518  Sem Inoformação 2015-04-27     Monday            3
244  2015   201519  Sem Inoformação 2015-05-04     Monday            3
245  2015   201520  Sem Inoformação 2015-05-11     Monday            3
246  2015   201521  Sem Inoformação 2015-05-18     Monday            3
247  2015   201522  Sem Inoformação 2015-05-25     Monday            3
248  2015   201523  Sem Inoformação 2015-06-01     Monday            3
249  2015   201524  Sem Inoformação 2015-06-08     Monday            3
250  2015   201525   Ramadan starts 2015-06-18   Thursday            6
251  2015   201525  Sem Inoformação 2015-06-15     Monday            3
252  2015   201526  Sem Inoformação 2015-06-22     Monday            3
253  2015   201527  Sem Inoformação 2015-06-29     Monday            3
254  2015   201528  Sem Inoformação 2015-07-06     Monday            3
255  2015   201529  Sem Inoformação 2015-07-13     Monday            3
256  2015   201530  Sem Inoformação 2015-07-20     Monday            3
257  2015   201531  Sem Inoformação 2015-07-27     Monday            3
258  2015   201532  Sem Inoformação 2015-08-03     Monday            3
259  2015   201533  Sem Inoformação 2015-08-10     Monday            3
260  2015   201534  Sem Inoformação 2015-08-17     Monday            3
261  2015   201535  Sem Inoformação 2015-08-24     Monday            3
262  2015   201536  Sem Inoformação 2015-08-31     Monday            3
263  2015   201537  Sem Inoformação 2015-09-07     Monday            3
264  2015   201538  Sem Inoformação 2015-09-14     Monday            3
265  2015   201539  Sem Inoformação 2015-09-21     Monday            3
266  2015   201540  Sem Inoformação 2015-09-28     Monday            3
267  2015   201541  Sem Inoformação 2015-10-05     Monday            3
268  2015   201542  Sem Inoformação 2015-10-12     Monday            3
269  2015   201543  Sem Inoformação 2015-10-19     Monday            3
270  2015   201544  Sem Inoformação 2015-10-26     Monday            3
271  2015   201545  Sem Inoformação 2015-11-02     Monday            3
272  2015   201546  Sem Inoformação 2015-11-09     Monday            3
273  2015   201547  Sem Inoformação 2015-11-16     Monday            3
274  2015   201548  Sem Inoformação 2015-11-23     Monday            3
275  2015   201548     Thanksgiving 2015-11-26   Thursday            6
276  2015   201549  Sem Inoformação 2015-11-30     Monday            3
277  2015   201550  Sem Inoformação 2015-12-07     Monday            3
278  2015   201551  Sem Inoformação 2015-12-14     Monday            3
279  2015   201552  Sem Inoformação 2015-12-21     Monday            3

In [41]:
total_linhas = dcalendarios_eventos_semanal.shape[0]
print(total_linhas)

300

In [42]:
dcalendarios_eventos_semanal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         300 non-null    int64
 1   yearweek     300 non-null    object
 2   event        300 non-null    object
 3   date         300 non-null    datetime64[ns]
 4   weekday      300 non-null    object
 5   weekday_int  300 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 14.2+ KB

In [43]:
dcalendarios_eventos_semanal.columns

Index(['year', 'yearweek', 'event', 'date', 'weekday', 'weekday_int'], dtype='object')

In [44]:
# realizando a ordenação do Datafrem para poder realizar o merge

In [45]:
# Ordenando 
dcalendarios_eventos_semanal_sorted = dcalendarios_eventos_semanal.sort_values(by=['yearweek', 'date', 'year', 'weekday', 'weekday_int',  'event'], ascending=True)

# Exibindo o resultado ordenado
dcalendarios_eventos_semanal_sorted.head()

   year yearweek            event       date   weekday  weekday_int
0  2011   201104  Sem Inoformação 2011-01-29  Saturday            1
1  2011   201105  Sem Inoformação 2011-01-31    Monday            3
2  2011   201105        SuperBowl 2011-02-06    Sunday            2
3  2011   201106  Sem Inoformação 2011-02-07    Monday            3
4  2011   201107  Sem Inoformação 2011-02-14    Monday            3

In [46]:
#Distinct 
valores_unicos_ordenados_evento = sorted(dcalendarios_eventos_semanal_sorted['yearweek'].unique())
print(valores_unicos_ordenados_evento)

['201104', '201105', '201106', '201107', '201108', '201109', '201110', '201111', '201112', '201113', '201114', '201115', '201116', '201117', '201118', '201119', '201120', '201121', '201122', '201123', '201124', '201125', '201126', '201127', '201128', '201129', '201130', '201131', '201132', '201133', '201134', '201135', '201136', '201137', '201138', '201139', '201140', '201141', '201142', '201143', '201144', '201145', '201146', '201147', '201148', '201149', '201150', '201151', '201152', '201201', '201202', '201203', '201204', '201205', '201206', '201207', '201208', '201209', '201210', '201211', '201212', '201213', '201214', '201215', '201216', '201217', '201218', '201219', '201220', '201221', '201222', '201223', '201224', '201225', '201226', '201227', '201228', '201229', '201230', '201231', '201232', '201233', '201234', '201235', '201236', '201237', '201238', '201239', '201240', '201241', '201242', '201243', '201244', '201245', '201246', '201247', '201248', '201249', '201250', '201251', '201252', '201301', '201302', '201303', '201304', '201305', '201306', '201307', '201308', '201309', '201310', '201311', '201312', '201313', '201314', '201315', '201316', '201317', '201318', '201319', '201320', '201321', '201322', '201323', '201324', '201325', '201326', '201327', '201328', '201329', '201330', '201331', '201332', '201333', '201334', '201335', '201336', '201337', '201338', '201339', '201340', '201341', '201342', '201343', '201344', '201345', '201346', '201347', '201348', '201349', '201350', '201351', '201352', '201401', '201402', '201403', '201404', '201405', '201406', '201407', '201408', '201409', '201410', '201411', '201412', '201413', '201414', '201415', '201416', '201417', '201418', '201419', '201420', '201421', '201422', '201423', '201424', '201425', '201426', '201427', '201428', '201429', '201430', '201431', '201432', '201433', '201434', '201435', '201436', '201437', '201438', '201439', '201440', '201441', '201442', '201443', '201444', '201445', '201446', '201447', '201448', '201449', '201450', '201451', '201452', '201501', '201502', '201503', '201504', '201505', '201506', '201507', '201508', '201509', '201510', '201511', '201512', '201513', '201514', '201515', '201516', '201517', '201518', '201519', '201520', '201521', '201522', '201523', '201524', '201525', '201526', '201527', '201528', '201529', '201530', '201531', '201532', '201533', '201534', '201535', '201536', '201537', '201538', '201539', '201540', '201541', '201542', '201543', '201544', '201545', '201546', '201547', '201548', '201549', '201550', '201551', '201552', '201553', '201601', '201602', '201603', '201604', '201605', '201606', '201607', '201608', '201609', '201610', '201611', '201612', '201613', '201614', '201615', '201616']

In [47]:
# Obtendo a menor data
menor_dcalendarios_eventos_semanal_sorted = dcalendarios_eventos_semanal_sorted['yearweek'].min()

# Obtendo a maior data
maior_dcalendarios_eventos_semanal_sorted = dcalendarios_eventos_semanal_sorted['yearweek'].max()

# Exibindo os resultados
print(f'Menor yearweek: {menor_dcalendarios_eventos_semanal_sorted}')
print(f'Maior yearweek: {maior_dcalendarios_eventos_semanal_sorted}')

Menor yearweek: 201104
Maior yearweek: 201616

In [48]:
dcalendarios_eventos_semanal_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         300 non-null    int64
 1   yearweek     300 non-null    object
 2   event        300 non-null    object
 3   date         300 non-null    datetime64[ns]
 4   weekday      300 non-null    object
 5   weekday_int  300 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 16.4+ KB

In [49]:
total_linhas_semanal = dcalendarios_eventos_semanal_sorted.shape[0]
print(total_linhas_semanal)

300

In [50]:
  	 	 	 	
# Encontrar as duplicatas
duplicados = dcalendarios_eventos_semanal_sorted.duplicated(subset=['year', 'yearweek', 'event', 'weekday','weekday_int'], keep=False)

# Filtrar o DataFrame original para mostrar apenas as linhas duplicadas
duplicados_dcalendarios_eventos_semanal_sorted = dcalendarios_eventos_semanal_sorted[duplicados]

# Exibir os itens duplicados
print(duplicados_dcalendarios_eventos_semanal_sorted)

Empty DataFrame
Columns: [year, yearweek, event, date, weekday, weekday_int]
Index: []

In [51]:
# convertendo weekday_int  300 non-null    int64  para int 32
dcalendarios_eventos_semanal_sorted[ 'weekday_int'] = dcalendarios_eventos_semanal_sorted[ 'weekday_int'].astype('int32')

In [52]:
# convertendo weekday_int  300 non-null    int64  para int 32
dcalendarios_eventos_semanal_sorted[ 'year'] = dcalendarios_eventos_semanal_sorted[ 'year'].astype('int32')

In [53]:
# convertendo yearweek  para  garantindo
dcalendarios_eventos_semanal_sorted[ 'yearweek'] = dcalendarios_eventos_semanal_sorted[ 'yearweek'].astype(int)

In [54]:
dcalendarios_eventos_semanal_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 299
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   year         300 non-null    int32
 1   yearweek     300 non-null    int32
 2   event        300 non-null    object
 3   date         300 non-null    datetime64[ns]
 4   weekday      300 non-null    object
 5   weekday_int  300 non-null    int32
dtypes: datetime64[ns](1), int32(3), object(2)
memory usage: 12.9+ KB

In [55]:
percentual_total_nulos_evento_semanal_ordernado = dcalendarios_eventos_semanal_sorted.isnull().sum().sum() / dcalendarios_eventos_semanal_sorted.size * 100
print(f'Percentual total de nulos: {percentual_total_nulos_evento_semanal_ordernado:.2f}%')

Percentual total de nulos: 0.00%

In [56]:
# Verificando se o resultado é um DataFrame
print(dcalendarios_eventos_semanal_sorted)
print("Tipo:", type(dcalendarios_eventos_semanal_sorted))  # Deve ser um DataFrame

     year  yearweek            event       date    weekday  weekday_int
0    2011    201104  Sem Inoformação 2011-01-29   Saturday            1
1    2011    201105  Sem Inoformação 2011-01-31     Monday            3
2    2011    201105        SuperBowl 2011-02-06     Sunday            2
3    2011    201106  Sem Inoformação 2011-02-07     Monday            3
4    2011    201107  Sem Inoformação 2011-02-14     Monday            3
5    2011    201108  Sem Inoformação 2011-02-21     Monday            3
6    2011    201109  Sem Inoformação 2011-02-28     Monday            3
7    2011    201110  Sem Inoformação 2011-03-07     Monday            3
8    2011    201111  Sem Inoformação 2011-03-14     Monday            3
9    2011    201112  Sem Inoformação 2011-03-21     Monday            3
10   2011    201113  Sem Inoformação 2011-03-28     Monday            3
11   2011    201114  Sem Inoformação 2011-04-04     Monday            3
12   2011    201115  Sem Inoformação 2011-04-11     Monday            3
13   2011    201116  Sem Inoformação 2011-04-18     Monday            3
14   2011    201117  Sem Inoformação 2011-04-25     Monday            3
15   2011    201118  Sem Inoformação 2011-05-02     Monday            3
16   2011    201119  Sem Inoformação 2011-05-09     Monday            3
17   2011    201120  Sem Inoformação 2011-05-16     Monday            3
18   2011    201121  Sem Inoformação 2011-05-23     Monday            3
19   2011    201122  Sem Inoformação 2011-05-30     Monday            3
20   2011    201123  Sem Inoformação 2011-06-06     Monday            3
21   2011    201124  Sem Inoformação 2011-06-13     Monday            3
22   2011    201125  Sem Inoformação 2011-06-20     Monday            3
23   2011    201126  Sem Inoformação 2011-06-27     Monday            3
24   2011    201127  Sem Inoformação 2011-07-04     Monday            3
25   2011    201128  Sem Inoformação 2011-07-11     Monday            3
26   2011    201129  Sem Inoformação 2011-07-18     Monday            3
27   2011    201130  Sem Inoformação 2011-07-25     Monday            3
28   2011    201131   Ramadan starts 2011-08-01     Monday            3
29   2011    201131  Sem Inoformação 2011-08-02    Tuesday            4
30   2011    201132  Sem Inoformação 2011-08-08     Monday            3
31   2011    201133  Sem Inoformação 2011-08-15     Monday            3
32   2011    201134  Sem Inoformação 2011-08-22     Monday            3
33   2011    201135  Sem Inoformação 2011-08-29     Monday            3
34   2011    201136  Sem Inoformação 2011-09-05     Monday            3
35   2011    201137  Sem Inoformação 2011-09-12     Monday            3
36   2011    201138  Sem Inoformação 2011-09-19     Monday            3
37   2011    201139  Sem Inoformação 2011-09-26     Monday            3
38   2011    201140  Sem Inoformação 2011-10-03     Monday            3
39   2011    201141  Sem Inoformação 2011-10-10     Monday            3
40   2011    201142  Sem Inoformação 2011-10-17     Monday            3
41   2011    201143  Sem Inoformação 2011-10-24     Monday            3
42   2011    201144  Sem Inoformação 2011-10-31     Monday            3
43   2011    201145  Sem Inoformação 2011-11-07     Monday            3
44   2011    201146  Sem Inoformação 2011-11-14     Monday            3
45   2011    201147  Sem Inoformação 2011-11-21     Monday            3
46   2011    201147     Thanksgiving 2011-11-24   Thursday            6
47   2011    201148  Sem Inoformação 2011-11-28     Monday            3
48   2011    201149  Sem Inoformação 2011-12-05     Monday            3
49   2011    201150  Sem Inoformação 2011-12-12     Monday            3
50   2011    201151  Sem Inoformação 2011-12-19     Monday            3
52   2011    201152  Sem Inoformação 2011-12-26     Monday            3
51   2011    201152          NewYear 2012-01-01     Sunday            2
53   2012    201201  Sem Inoformação 2012-01-02     Monday            3
54   2012    201202  Sem Inoformação 2012-01-09     Monday            3
55   2012    201203  Sem Inoformação 2012-01-16     Monday            3
56   2012    201204  Sem Inoformação 2012-01-23     Monday            3
57   2012    201205  Sem Inoformação 2012-01-30     Monday            3
58   2012    201205        SuperBowl 2012-02-05     Sunday            2
59   2012    201206  Sem Inoformação 2012-02-06     Monday            3
60   2012    201207  Sem Inoformação 2012-02-13     Monday            3
61   2012    201208  Sem Inoformação 2012-02-20     Monday            3
62   2012    201209  Sem Inoformação 2012-02-27     Monday            3
63   2012    201210  Sem Inoformação 2012-03-05     Monday            3
64   2012    201211  Sem Inoformação 2012-03-12     Monday            3
65   2012    201212  Sem Inoformação 2012-03-19     Monday            3
66   2012    201213  Sem Inoformação 2012-03-26     Monday            3
68   2012    201214  Sem Inoformação 2012-04-02     Monday            3
67   2012    201214           Easter 2012-04-08     Sunday            2
69   2012    201215  Sem Inoformação 2012-04-09     Monday            3
70   2012    201216  Sem Inoformação 2012-04-16     Monday            3
71   2012    201217  Sem Inoformação 2012-04-23     Monday            3
72   2012    201218  Sem Inoformação 2012-04-30     Monday            3
73   2012    201219  Sem Inoformação 2012-05-07     Monday            3
74   2012    201220  Sem Inoformação 2012-05-14     Monday            3
75   2012    201221  Sem Inoformação 2012-05-21     Monday            3
76   2012    201222  Sem Inoformação 2012-05-28     Monday            3
77   2012    201223  Sem Inoformação 2012-06-04     Monday            3
78   2012    201224  Sem Inoformação 2012-06-11     Monday            3
79   2012    201225  Sem Inoformação 2012-06-18     Monday            3
80   2012    201226  Sem Inoformação 2012-06-25     Monday            3
81   2012    201227  Sem Inoformação 2012-07-02     Monday            3
82   2012    201228  Sem Inoformação 2012-07-09     Monday            3
84   2012    201229  Sem Inoformação 2012-07-16     Monday            3
83   2012    201229   Ramadan starts 2012-07-20     Friday            7
85   2012    201230  Sem Inoformação 2012-07-23     Monday            3
86   2012    201231  Sem Inoformação 2012-07-30     Monday            3
87   2012    201232  Sem Inoformação 2012-08-06     Monday            3
88   2012    201233  Sem Inoformação 2012-08-13     Monday            3
89   2012    201234  Sem Inoformação 2012-08-20     Monday            3
90   2012    201235  Sem Inoformação 2012-08-27     Monday            3
91   2012    201236  Sem Inoformação 2012-09-03     Monday            3
92   2012    201237  Sem Inoformação 2012-09-10     Monday            3
93   2012    201238  Sem Inoformação 2012-09-17     Monday            3
94   2012    201239  Sem Inoformação 2012-09-24     Monday            3
95   2012    201240  Sem Inoformação 2012-10-01     Monday            3
96   2012    201241  Sem Inoformação 2012-10-08     Monday            3
97   2012    201242  Sem Inoformação 2012-10-15     Monday            3
98   2012    201243  Sem Inoformação 2012-10-22     Monday            3
99   2012    201244  Sem Inoformação 2012-10-29     Monday            3
100  2012    201245  Sem Inoformação 2012-11-05     Monday            3
101  2012    201246  Sem Inoformação 2012-11-12     Monday            3
102  2012    201247  Sem Inoformação 2012-11-19     Monday            3
103  2012    201247     Thanksgiving 2012-11-22   Thursday            6
104  2012    201248  Sem Inoformação 2012-11-26     Monday            3
105  2012    201249  Sem Inoformação 2012-12-03     Monday            3
106  2012    201250  Sem Inoformação 2012-12-10     Monday            3
107  2012    201251  Sem Inoformação 2012-12-17     Monday            3
108  2012    201252  Sem Inoformação 2012-12-24     Monday            3
110  2013    201301  Sem Inoformação 2012-12-31     Monday            3
109  2013    201301          NewYear 2013-01-01    Tuesday            4
111  2013    201302  Sem Inoformação 2013-01-07     Monday            3
112  2013    201303  Sem Inoformação 2013-01-14     Monday            3
113  2013    201304  Sem Inoformação 2013-01-21     Monday            3
114  2013    201305  Sem Inoformação 2013-01-28     Monday            3
115  2013    201305        SuperBowl 2013-02-03     Sunday            2
116  2013    201306  Sem Inoformação 2013-02-04     Monday            3
117  2013    201307  Sem Inoformação 2013-02-11     Monday            3
118  2013    201308  Sem Inoformação 2013-02-18     Monday            3
119  2013    201309  Sem Inoformação 2013-02-25     Monday            3
120  2013    201310  Sem Inoformação 2013-03-04     Monday            3
121  2013    201311  Sem Inoformação 2013-03-11     Monday            3
122  2013    201312  Sem Inoformação 2013-03-18     Monday            3
124  2013    201313  Sem Inoformação 2013-03-25     Monday            3
123  2013    201313           Easter 2013-03-31     Sunday            2
125  2013    201314  Sem Inoformação 2013-04-01     Monday            3
126  2013    201315  Sem Inoformação 2013-04-08     Monday            3
127  2013    201316  Sem Inoformação 2013-04-15     Monday            3
128  2013    201317  Sem Inoformação 2013-04-22     Monday            3
129  2013    201318  Sem Inoformação 2013-04-29     Monday            3
130  2013    201319  Sem Inoformação 2013-05-06     Monday            3
131  2013    201320  Sem Inoformação 2013-05-13     Monday            3
132  2013    201321  Sem Inoformação 2013-05-20     Monday            3
133  2013    201322  Sem Inoformação 2013-05-27     Monday            3
134  2013    201323  Sem Inoformação 2013-06-03     Monday            3
135  2013    201324  Sem Inoformação 2013-06-10     Monday            3
136  2013    201325  Sem Inoformação 2013-06-17     Monday            3
137  2013    201326  Sem Inoformação 2013-06-24     Monday            3
138  2013    201327  Sem Inoformação 2013-07-01     Monday            3
140  2013    201328  Sem Inoformação 2013-07-08     Monday            3
139  2013    201328   Ramadan starts 2013-07-09    Tuesday            4
141  2013    201329  Sem Inoformação 2013-07-15     Monday            3
142  2013    201330  Sem Inoformação 2013-07-22     Monday            3
143  2013    201331  Sem Inoformação 2013-07-29     Monday            3
144  2013    201332  Sem Inoformação 2013-08-05     Monday            3
145  2013    201333  Sem Inoformação 2013-08-12     Monday            3
146  2013    201334  Sem Inoformação 2013-08-19     Monday            3
147  2013    201335  Sem Inoformação 2013-08-26     Monday            3
148  2013    201336  Sem Inoformação 2013-09-02     Monday            3
149  2013    201337  Sem Inoformação 2013-09-09     Monday            3
150  2013    201338  Sem Inoformação 2013-09-16     Monday            3
151  2013    201339  Sem Inoformação 2013-09-23     Monday            3
152  2013    201340  Sem Inoformação 2013-09-30     Monday            3
153  2013    201341  Sem Inoformação 2013-10-07     Monday            3
154  2013    201342  Sem Inoformação 2013-10-14     Monday            3
155  2013    201343  Sem Inoformação 2013-10-21     Monday            3
156  2013    201344  Sem Inoformação 2013-10-28     Monday            3
157  2013    201345  Sem Inoformação 2013-11-04     Monday            3
158  2013    201346  Sem Inoformação 2013-11-11     Monday            3
159  2013    201347  Sem Inoformação 2013-11-18     Monday            3
160  2013    201348  Sem Inoformação 2013-11-25     Monday            3
161  2013    201348     Thanksgiving 2013-11-28   Thursday            6
162  2013    201349  Sem Inoformação 2013-12-02     Monday            3
163  2013    201350  Sem Inoformação 2013-12-09     Monday            3
164  2013    201351  Sem Inoformação 2013-12-16     Monday            3
165  2013    201352  Sem Inoformação 2013-12-23     Monday            3
167  2014    201401  Sem Inoformação 2013-12-30     Monday            3
166  2014    201401          NewYear 2014-01-01  Wednesday            5
168  2014    201402  Sem Inoformação 2014-01-06     Monday            3
169  2014    201403  Sem Inoformação 2014-01-13     Monday            3
170  2014    201404  Sem Inoformação 2014-01-20     Monday            3
171  2014    201405  Sem Inoformação 2014-01-27     Monday            3
172  2014    201405        SuperBowl 2014-02-02     Sunday            2
173  2014    201406  Sem Inoformação 2014-02-03     Monday            3
174  2014    201407  Sem Inoformação 2014-02-10     Monday            3
175  2014    201408  Sem Inoformação 2014-02-17     Monday            3
176  2014    201409  Sem Inoformação 2014-02-24     Monday            3
177  2014    201410  Sem Inoformação 2014-03-03     Monday            3
178  2014    201411  Sem Inoformação 2014-03-10     Monday            3
179  2014    201412  Sem Inoformação 2014-03-17     Monday            3
180  2014    201413  Sem Inoformação 2014-03-24     Monday            3
181  2014    201414  Sem Inoformação 2014-03-31     Monday            3
182  2014    201415  Sem Inoformação 2014-04-07     Monday            3
184  2014    201416  Sem Inoformação 2014-04-14     Monday            3
183  2014    201416           Easter 2014-04-20     Sunday            2
185  2014    201417  Sem Inoformação 2014-04-21     Monday            3
186  2014    201418  Sem Inoformação 2014-04-28     Monday            3
187  2014    201419  Sem Inoformação 2014-05-05     Monday            3
188  2014    201420  Sem Inoformação 2014-05-12     Monday            3
189  2014    201421  Sem Inoformação 2014-05-19     Monday            3
190  2014    201422  Sem Inoformação 2014-05-26     Monday            3
191  2014    201423  Sem Inoformação 2014-06-02     Monday            3
192  2014    201424  Sem Inoformação 2014-06-09     Monday            3
193  2014    201425  Sem Inoformação 2014-06-16     Monday            3
195  2014    201426  Sem Inoformação 2014-06-23     Monday            3
194  2014    201426   Ramadan starts 2014-06-29     Sunday            2
196  2014    201427  Sem Inoformação 2014-06-30     Monday            3
197  2014    201428  Sem Inoformação 2014-07-07     Monday            3
198  2014    201429  Sem Inoformação 2014-07-14     Monday            3
199  2014    201430  Sem Inoformação 2014-07-21     Monday            3
200  2014    201431  Sem Inoformação 2014-07-28     Monday            3
201  2014    201432  Sem Inoformação 2014-08-04     Monday            3
202  2014    201433  Sem Inoformação 2014-08-11     Monday            3
203  2014    201434  Sem Inoformação 2014-08-18     Monday            3
204  2014    201435  Sem Inoformação 2014-08-25     Monday            3
205  2014    201436  Sem Inoformação 2014-09-01     Monday            3
206  2014    201437  Sem Inoformação 2014-09-08     Monday            3
207  2014    201438  Sem Inoformação 2014-09-15     Monday            3
208  2014    201439  Sem Inoformação 2014-09-22     Monday            3
209  2014    201440  Sem Inoformação 2014-09-29     Monday            3
210  2014    201441  Sem Inoformação 2014-10-06     Monday            3
211  2014    201442  Sem Inoformação 2014-10-13     Monday            3
212  2014    201443  Sem Inoformação 2014-10-20     Monday            3
213  2014    201444  Sem Inoformação 2014-10-27     Monday            3
214  2014    201445  Sem Inoformação 2014-11-03     Monday            3
215  2014    201446  Sem Inoformação 2014-11-10     Monday            3
216  2014    201447  Sem Inoformação 2014-11-17     Monday            3
217  2014    201448  Sem Inoformação 2014-11-24     Monday            3
218  2014    201448     Thanksgiving 2014-11-27   Thursday            6
219  2014    201449  Sem Inoformação 2014-12-01     Monday            3
220  2014    201450  Sem Inoformação 2014-12-08     Monday            3
221  2014    201451  Sem Inoformação 2014-12-15     Monday            3
222  2014    201452  Sem Inoformação 2014-12-22     Monday            3
224  2015    201501  Sem Inoformação 2014-12-29     Monday            3
223  2015    201501          NewYear 2015-01-01   Thursday            6
225  2015    201502  Sem Inoformação 2015-01-05     Monday            3
226  2015    201503  Sem Inoformação 2015-01-12     Monday            3
227  2015    201504  Sem Inoformação 2015-01-19     Monday            3
228  2015    201505  Sem Inoformação 2015-01-26     Monday            3
229  2015    201505        SuperBowl 2015-02-01     Sunday            2
230  2015    201506  Sem Inoformação 2015-02-02     Monday            3
231  2015    201507  Sem Inoformação 2015-02-09     Monday            3
232  2015    201508  Sem Inoformação 2015-02-16     Monday            3
233  2015    201509  Sem Inoformação 2015-02-23     Monday            3
234  2015    201510  Sem Inoformação 2015-03-02     Monday            3
235  2015    201511  Sem Inoformação 2015-03-09     Monday            3
236  2015    201512  Sem Inoformação 2015-03-16     Monday            3
237  2015    201513  Sem Inoformação 2015-03-23     Monday            3
239  2015    201514  Sem Inoformação 2015-03-30     Monday            3
238  2015    201514           Easter 2015-04-05     Sunday            2
240  2015    201515  Sem Inoformação 2015-04-06     Monday            3
241  2015    201516  Sem Inoformação 2015-04-13     Monday            3
242  2015    201517  Sem Inoformação 2015-04-20     Monday            3
243  2015    201518  Sem Inoformação 2015-04-27     Monday            3
244  2015    201519  Sem Inoformação 2015-05-04     Monday            3
245  2015    201520  Sem Inoformação 2015-05-11     Monday            3
246  2015    201521  Sem Inoformação 2015-05-18     Monday            3
247  2015    201522  Sem Inoformação 2015-05-25     Monday            3
248  2015    201523  Sem Inoformação 2015-06-01     Monday            3
249  2015    201524  Sem Inoformação 2015-06-08     Monday            3
251  2015    201525  Sem Inoformação 2015-06-15     Monday            3
250  2015    201525   Ramadan starts 2015-06-18   Thursday            6
252  2015    201526  Sem Inoformação 2015-06-22     Monday            3
253  2015    201527  Sem Inoformação 2015-06-29     Monday            3
254  2015    201528  Sem Inoformação 2015-07-06     Monday            3
255  2015    201529  Sem Inoformação 2015-07-13     Monday            3
256  2015    201530  Sem Inoformação 2015-07-20     Monday            3
257  2015    201531  Sem Inoformação 2015-07-27     Monday            3
258  2015    201532  Sem Inoformação 2015-08-03     Monday            3
259  2015    201533  Sem Inoformação 2015-08-10     Monday            3
260  2015    201534  Sem Inoformação 2015-08-17     Monday            3
261  2015    201535  Sem Inoformação 2015-08-24     Monday            3
262  2015    201536  Sem Inoformação 2015-08-31     Monday            3
263  2015    201537  Sem Inoformação 2015-09-07     Monday            3
264  2015    201538  Sem Inoformação 2015-09-14     Monday            3
265  2015    201539  Sem Inoformação 2015-09-21     Monday            3
266  2015    201540  Sem Inoformação 2015-09-28     Monday            3
267  2015    201541  Sem Inoformação 2015-10-05     Monday            3
268  2015    201542  Sem Inoformação 2015-10-12     Monday            3
269  2015    201543  Sem Inoformação 2015-10-19     Monday            3
270  2015    201544  Sem Inoformação 2015-10-26     Monday            3
271  2015    201545  Sem Inoformação 2015-11-02     Monday            3
272  2015    201546  Sem Inoformação 2015-11-09     Monday            3
273  2015    201547  Sem Inoformação 2015-11-16     Monday            3
274  2015    201548  Sem Inoformação 2015-11-23     Monday            3
275  2015    201548     Thanksgiving 2015-11-26   Thursday            6

In [57]:
# Tratando  o Datasdet de Precos --  Este dataset já está na granularidade Item, Precos e Semana

In [58]:
dprices

                      item     category store_code   yearweek  sell_price
0         ACCESORIES_1_001   ACCESORIES      NYC_1 201,328.00       12.74
1         ACCESORIES_1_001   ACCESORIES      NYC_1 201,329.00       12.74
2         ACCESORIES_1_001   ACCESORIES      NYC_1 201,330.00       10.99
3         ACCESORIES_1_001   ACCESORIES      NYC_1 201,331.00       10.99
4         ACCESORIES_1_001   ACCESORIES      NYC_1 201,332.00       10.99
...                    ...          ...        ...        ...         ...
6965701  SUPERMARKET_3_827  SUPERMARKET      PHI_3        NaN        1.20
6965702  SUPERMARKET_3_827  SUPERMARKET      PHI_3        NaN        1.20
6965703  SUPERMARKET_3_827  SUPERMARKET      PHI_3        NaN        1.20
6965704  SUPERMARKET_3_827  SUPERMARKET      PHI_3        NaN        1.20
6965705  SUPERMARKET_3_827  SUPERMARKET      PHI_3        NaN        1.20

[6965706 rows x 5 columns]

In [59]:
dprices.columns

Index(['item', 'category', 'store_code', 'yearweek', 'sell_price'], dtype='object')

In [60]:
dprices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6965706 entries, 0 to 6965705
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    float64
 4   sell_price  float64
dtypes: float64(2), object(3)
memory usage: 265.7+ MB

In [61]:
total_linhas_prices = dprices.shape[0]
print(total_linhas_prices)

6965706

In [62]:
## Verificando os valores nulos

In [63]:
dprices.isnull().sum()

item               0
category           0
store_code         0
yearweek      243920
sell_price         0
dtype: int64

In [64]:
percentual_total_nulos_prices = dprices.isnull().sum().sum() / dprices.size * 100
print(f'Percentual total de nulos: {percentual_total_nulos_prices:.2f}%')

Percentual total de nulos: 0.70%

In [65]:
# Encontrar as duplicatas  	 	 	 	
duplicados_dprices = dprices.duplicated(subset=['item', 'category', 'store_code', 'yearweek','sell_price'], keep=False)

# Filtrar o DataFrame original para mostrar apenas as linhas duplicadas
duplicados_prices = dprices[duplicados_dprices]

# Exibir os itens duplicados
print(duplicados_prices)

                      item     category store_code  yearweek  sell_price
149       ACCESORIES_1_001   ACCESORIES      NYC_1       NaN       11.15
150       ACCESORIES_1_001   ACCESORIES      NYC_1       NaN       11.15
151       ACCESORIES_1_001   ACCESORIES      NYC_1       NaN       11.15
152       ACCESORIES_1_001   ACCESORIES      NYC_1       NaN       11.15
153       ACCESORIES_1_001   ACCESORIES      NYC_1       NaN       11.15
...                    ...          ...        ...       ...         ...
6965701  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN        1.20
6965702  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN        1.20
6965703  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN        1.20
6965704  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN        1.20
6965705  SUPERMARKET_3_827  SUPERMARKET      PHI_3       NaN        1.20

[243495 rows x 5 columns]

In [66]:
# Essas linha por não terem o  yearweek , aparecem com sendo linhas duplicadas e com isso podendo será retiradas pos não teremos como utiliza-las nas analises

In [67]:
# Excluir duplicatas diretamente no DataFrame original com loc
dprices = dprices.loc[~dprices.duplicated(subset=['item', 'category', 'store_code', 'yearweek', 'sell_price'], keep='first')]

# Verificar o DataFrame após a exclusão das duplicatas
print(dprices)

                      item     category store_code   yearweek  sell_price
0         ACCESORIES_1_001   ACCESORIES      NYC_1 201,328.00       12.74
1         ACCESORIES_1_001   ACCESORIES      NYC_1 201,329.00       12.74
2         ACCESORIES_1_001   ACCESORIES      NYC_1 201,330.00       10.99
3         ACCESORIES_1_001   ACCESORIES      NYC_1 201,331.00       10.99
4         ACCESORIES_1_001   ACCESORIES      NYC_1 201,332.00       10.99
...                    ...          ...        ...        ...         ...
6965694  SUPERMARKET_3_827  SUPERMARKET      PHI_3 201,614.00        1.20
6965695  SUPERMARKET_3_827  SUPERMARKET      PHI_3 201,615.00        1.20
6965696  SUPERMARKET_3_827  SUPERMARKET      PHI_3 201,616.00        1.20
6965697  SUPERMARKET_3_827  SUPERMARKET      PHI_3 201,617.00        1.20
6965698  SUPERMARKET_3_827  SUPERMARKET      PHI_3        NaN        1.20

[6753586 rows x 5 columns]

In [68]:
total_linhas_dprices_sem_duplicatas = dprices.shape[0]
print(total_linhas_dprices_sem_duplicatas)

6753586

In [69]:
# verificando os nulos

In [70]:
dprices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6753586 entries, 0 to 6965698
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    float64
 4   sell_price  float64
dtypes: float64(2), object(3)
memory usage: 309.2+ MB

In [71]:
dprices.isnull().sum()

item              0
category          0
store_code        0
yearweek      31800
sell_price        0
dtype: int64

In [72]:
# tratano os nulos

In [73]:
# Criar uma cópia independente do DataFrame original para evitar o "SettingWithCopyWarning"
dprices_copy = dprices.copy()

# Preencher os valores nulos na coluna 'yearweek' com 190000
dprices_copy.loc[:, 'yearweek'] = dprices_copy['yearweek'].fillna(190000)

# Exibir o DataFrame modificado
print(dprices_copy)

                      item     category store_code   yearweek  sell_price
0         ACCESORIES_1_001   ACCESORIES      NYC_1 201,328.00       12.74
1         ACCESORIES_1_001   ACCESORIES      NYC_1 201,329.00       12.74
2         ACCESORIES_1_001   ACCESORIES      NYC_1 201,330.00       10.99
3         ACCESORIES_1_001   ACCESORIES      NYC_1 201,331.00       10.99
4         ACCESORIES_1_001   ACCESORIES      NYC_1 201,332.00       10.99
...                    ...          ...        ...        ...         ...
6965694  SUPERMARKET_3_827  SUPERMARKET      PHI_3 201,614.00        1.20
6965695  SUPERMARKET_3_827  SUPERMARKET      PHI_3 201,615.00        1.20
6965696  SUPERMARKET_3_827  SUPERMARKET      PHI_3 201,616.00        1.20
6965697  SUPERMARKET_3_827  SUPERMARKET      PHI_3 201,617.00        1.20
6965698  SUPERMARKET_3_827  SUPERMARKET      PHI_3 190,000.00        1.20

[6753586 rows x 5 columns]

In [74]:
dprices_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6753586 entries, 0 to 6965698
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    float64
 4   sell_price  float64
dtypes: float64(2), object(3)
memory usage: 309.2+ MB

In [75]:
# Tratando as tipos das colunnas

In [76]:
# Transformar a coluna 'yearweek' em int
dprices_copy['yearweek'] = dprices_copy['yearweek'].astype(int)

In [77]:
dprices_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6753586 entries, 0 to 6965698
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    int32
 4   sell_price  float64
dtypes: float64(1), int32(1), object(3)
memory usage: 283.4+ MB

In [78]:
# Transformar a coluna 'sell_price ' em float16
dprices_copy['sell_price'] = dprices_copy['sell_price'].astype('float16')

In [79]:
dprices_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6753586 entries, 0 to 6965698
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    int32
 4   sell_price  float16
dtypes: float16(1), int32(1), object(3)
memory usage: 244.7+ MB

In [80]:
percentual_total_nulos = dprices_copy.isnull().sum().sum() / dprices_copy.size * 100
print(f'Percentual total de nulos: {percentual_total_nulos:.2f}%')

Percentual total de nulos: 0.00%

In [81]:
total_linhas_prices = dprices_copy.shape[0]
print(total_linhas_prices)

6753586

In [82]:
# Verificando os tipos da do campo yearweek  nos  Dataframe

In [83]:
tipo_coluna_dprices = dprices_copy['yearweek'].dtype
print(tipo_coluna_dprices)

int32

In [84]:
tipo_coluna_events = dcalendarios_eventos_semanal_sorted['yearweek'].dtype
print(tipo_coluna_events)

int32

In [85]:
## converter o tipo do campo yearweek  object po  para poder realizar o merge com o dataframe calendario_evento

In [86]:
dprices_copy['yearweek'] = dprices_copy['yearweek'].astype(str)
#dcalendarios_eventos_semanal_sorted['yearweek'] = dcalendarios_eventos_semanal_sorted['yearweek'].astype(str)

In [87]:
tipo_coluna_dprices = dprices_copy['yearweek'].dtype
print(tipo_coluna_dprices)

object

In [88]:
# Atribuir a cópia modificada de volta ao DataFrame original
dprices = dprices_copy

In [89]:
dprices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6753586 entries, 0 to 6965698
Data columns (total 5 columns):
 #   Column      Dtype
---  ------      -----
 0   item        object
 1   category    object
 2   store_code  object
 3   yearweek    object
 4   sell_price  float16
dtypes: float16(1), object(4)
memory usage: 270.5+ MB

In [90]:
print(dprices['yearweek'].unique())

['201328' '201329' '201330' '201331' '201332' '201333' '201334' '201335'
 '201336' '201337' '201338' '201339' '201340' '201341' '201342' '201343'
 '201344' '201345' '201346' '201347' '201348' '201349' '201350' '201351'
 '201352' '201400' '201401' '201402' '201403' '201404' '201405' '201406'
 '201407' '201408' '201409' '201410' '201411' '201412' '201413' '201414'
 '201415' '201416' '201417' '201418' '201419' '201420' '201421' '201422'
 '201423' '201424' '201425' '201426' '201427' '201428' '201429' '201430'
 '201431' '201432' '201433' '201434' '201435' '201436' '201437' '201438'
 '201439' '201440' '201441' '201442' '201443' '201444' '201445' '201446'
 '201447' '201448' '201449' '201450' '201451' '201452' '201500' '201501'
 '201502' '201503' '201504' '201505' '201506' '201507' '201508' '201509'
 '201510' '201511' '201512' '201513' '201514' '201515' '201516' '201517'
 '201518' '201519' '201520' '201521' '201522' '201523' '201524' '201525'
 '201526' '201527' '201528' '201529' '201530' '201531' '201532' '201533'
 '201534' '201535' '201536' '201537' '201538' '201539' '201540' '201541'
 '201542' '201543' '201544' '201545' '201546' '201547' '201548' '201549'
 '201550' '201551' '201552' '201600' '201601' '201602' '201603' '201604'
 '201605' '201606' '201607' '201608' '201609' '201610' '201611' '201612'
 '201613' '201614' '201615' '201616' '201617' '190000' '201125' '201126'
 '201127' '201128' '201129' '201130' '201131' '201132' '201133' '201134'
 '201135' '201136' '201137' '201138' '201139' '201140' '201141' '201142'
 '201143' '201144' '201145' '201146' '201147' '201148' '201149' '201150'
 '201151' '201152' '201200' '201201' '201202' '201203' '201204' '201205'
 '201206' '201207' '201208' '201209' '201210' '201211' '201212' '201213'
 '201214' '201215' '201216' '201217' '201218' '201219' '201220' '201221'
 '201222' '201223' '201224' '201225' '201226' '201227' '201228' '201229'
 '201230' '201231' '201232' '201233' '201234' '201235' '201236' '201237'
 '201238' '201239' '201240' '201241' '201242' '201243' '201244' '201245'
 '201246' '201247' '201248' '201249' '201250' '201251' '201252' '201253'
 '201300' '201301' '201302' '201303' '201304' '201305' '201306' '201307'
 '201308' '201309' '201310' '201311' '201312' '201313' '201314' '201315'
 '201316' '201317' '201318' '201319' '201320' '201321' '201322' '201323'
 '201324' '201325' '201326' '201327' '201110' '201111' '201112' '201113'
 '201114' '201115' '201116' '201117' '201118' '201119' '201120' '201121'
 '201122' '201123' '201124' '201105' '201106' '201107' '201108' '201109']

In [91]:
dprices.head(20).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
item,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001,ACCESORIES_1_001
category,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES,ACCESORIES
store_code,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1,NYC_1
yearweek,201328,201329,201330,201331,201332,201333,201334,201335,201336,201337,201338,201339,201340,201341,201342,201343,201344,201345,201346,201347
sell_price,12.74,12.74,10.98,10.98,10.98,10.98,10.98,10.98,10.98,10.98,10.98,10.98,10.98,10.98,10.98,10.98,10.98,10.98,10.98,10.98

In [92]:
# ordemando o Dataset para o merge 
dprices_sorted = dprices.sort_values(by=['item', 'category', 'store_code', 'yearweek'], ascending=True)

# Exibindo o resultado ordenado
dprices_sorted.head()

                     item    category store_code yearweek  sell_price
2758184  ACCESORIES_1_001  ACCESORIES      BOS_1   190000       10.98
2758035  ACCESORIES_1_001  ACCESORIES      BOS_1   201328       12.74
2758036  ACCESORIES_1_001  ACCESORIES      BOS_1   201329       10.98
2758037  ACCESORIES_1_001  ACCESORIES      BOS_1   201330       10.98
2758038  ACCESORIES_1_001  ACCESORIES      BOS_1   201331       10.98

In [93]:
# Obtendo a menor data
menor_dprices_sorted = dprices_sorted['yearweek'].min()

# Obtendo a maior data
maior_dprices_sorted = dprices_sorted['yearweek'].max()

# Exibindo os resultados
print(f'Menor data: {menor_dprices_sorted}')
print(f'Maior data: {maior_dprices_sorted}')

Menor data: 190000
Maior data: 201617

In [94]:
# Encontrar as duplicatas  	 	 	 	
duplicados_dprices_sorted = dprices_sorted.duplicated(subset=['item', 'category', 'store_code', 'yearweek','sell_price'], keep=False)

# Filtrar o DataFrame original para mostrar apenas as linhas duplicadas
duplicados_duplicados_dprices_sorted = dprices_sorted[duplicados_dprices_sorted]

# Exibir os itens duplicados
print(duplicados_duplicados_dprices_sorted)

Empty DataFrame
Columns: [item, category, store_code, yearweek, sell_price]
Index: []

In [95]:
# Relaizando o merge com outer para pode fazer o full dos dois Dataframe ordenadaos

In [96]:
print("Antes do merge:", type(dprices_sorted), type(dcalendarios_eventos_semanal_sorted))

Antes do merge: <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

In [97]:
tipo_coluna_events = dcalendarios_eventos_semanal_sorted['yearweek'].dtype
print(tipo_coluna_events)

int32

In [98]:
tipo_coluna_prices = dprices_sorted['yearweek'].dtype
print(tipo_coluna_prices)

object

In [99]:
dcalendarios_eventos_semanal_sorted['yearweek'] = dcalendarios_eventos_semanal_sorted['yearweek'].astype(str)

In [100]:
tipo_coluna_dcalendarios_eventos_semanal_sorted = dcalendarios_eventos_semanal_sorted['yearweek'].dtype
print(tipo_coluna_dcalendarios_eventos_semanal_sorted)

object

In [101]:

# Fazendo o merge (Outer JOIN)
df_merged_prices_cevents = pd.merge(dprices_sorted, dcalendarios_eventos_semanal_sorted, on='yearweek', how='outer')

print(df_merged_prices_cevents)

                      item     category store_code yearweek  sell_price  \
0         ACCESORIES_1_001   ACCESORIES      BOS_1   190000       10.98
1         ACCESORIES_1_001   ACCESORIES      BOS_2   190000       10.98
2         ACCESORIES_1_001   ACCESORIES      BOS_3   190000       10.98
3         ACCESORIES_1_001   ACCESORIES      NYC_1   190000       11.15
4         ACCESORIES_1_001   ACCESORIES      NYC_2   190000       11.15
...                    ...          ...        ...      ...         ...
7358222  SUPERMARKET_3_825  SUPERMARKET      PHI_2   201109        4.80
7358223  SUPERMARKET_3_825  SUPERMARKET      PHI_3   201109        4.80
7358224                NaN          NaN        NaN   201104         NaN
7358225                NaN          NaN        NaN   201553         NaN
7358226                NaN          NaN        NaN   201553         NaN

            year            event       date   weekday  weekday_int
0            NaN              NaN        NaT       NaN          NaN
1            NaN              NaN        NaT       NaN          NaN
2            NaN              NaN        NaT       NaN          NaN
3            NaN              NaN        NaT       NaN          NaN
4            NaN              NaN        NaT       NaN          NaN
...          ...              ...        ...       ...          ...
7358222 2,011.00  Sem Inoformação 2011-02-28    Monday         3.00
7358223 2,011.00  Sem Inoformação 2011-02-28    Monday         3.00
7358224 2,011.00  Sem Inoformação 2011-01-29  Saturday         1.00
7358225 2,015.00  Sem Inoformação 2015-12-28    Monday         3.00
7358226 2,015.00          NewYear 2016-01-01    Friday         7.00

[7358227 rows x 10 columns]

In [102]:
# validando o nuumero de linhas pois em que aumentar

In [103]:
total_linhas_merge_prices_cevents = df_merged_prices_cevents.shape[0]
print(total_linhas_merge_prices_cevents)

7358227

In [104]:
df_merged_prices_cevents.columns

Index(['item', 'category', 'store_code', 'yearweek', 'sell_price', 'year',
       'event', 'date', 'weekday', 'weekday_int'],
      dtype='object')

In [105]:
# Salvando o DataFrame em um arquivo CSV
df_merged_prices_cevents.to_csv('data/data_dsmarket/df_merged_prices_cevents1.csv', index=False)
# Exibindo a confirmação
print("Arquivo CSV salvo com sucesso!")

Arquivo CSV salvo com sucesso!

In [106]:
df_merged_prices_cevents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7358227 entries, 0 to 7358226
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   item         object
 1   category     object
 2   store_code   object
 3   yearweek     object
 4   sell_price   float16
 5   year         float64
 6   event        object
 7   date         datetime64[ns]
 8   weekday      object
 9   weekday_int  float64
dtypes: datetime64[ns](1), float16(1), float64(2), object(6)
memory usage: 575.4+ MB

In [107]:
print(type(df_merged_prices_cevents))  # Isso mostrará o tipo do objeto.

<class 'pandas.core.frame.DataFrame'>

In [108]:
# verificando os nulos

In [109]:
df_merged_prices_cevents.isnull().sum()

item                3
category            3
store_code          3
yearweek            0
sell_price          3
year           208769
event          208769
date           208769
weekday        208769
weekday_int    208769
dtype: int64

In [110]:
# gerando analise do total de  nulos no Data frame

In [111]:
percentual_total_nulos__merged_prices_cevents = df_merged_prices_cevents.isnull().sum().sum() / df_merged_prices_cevents.size * 100
print(f'Percentual total de nulos: {percentual_total_nulos__merged_prices_cevents:.2f}%')

Percentual total de nulos: 1.42%

In [112]:
df_merged_prices_cevents['sell_price'] = df_merged_prices_cevents['sell_price'].fillna(0)

In [113]:
df_merged_prices_cevents.isnull().sum()

item                3
category            3
store_code          3
yearweek            0
sell_price          0
year           208769
event          208769
date           208769
weekday        208769
weekday_int    208769
dtype: int64

In [114]:

# mostrando os campos nulos para os campo que tem eventos e não tem item

In [115]:
# Exibindo linhas onde 'category' é nulo
df_nulos_category = df_merged_prices_cevents[df_merged_prices_cevents['category'].isna()]

print(df_nulos_category)

        item category store_code yearweek  sell_price     year  \
7358224  NaN      NaN        NaN   201104        0.00 2,011.00
7358225  NaN      NaN        NaN   201553        0.00 2,015.00
7358226  NaN      NaN        NaN   201553        0.00 2,015.00

                   event       date   weekday  weekday_int
7358224  Sem Inoformação 2011-01-29  Saturday         1.00
7358225  Sem Inoformação 2015-12-28    Monday         3.00
7358226          NewYear 2016-01-01    Friday         7.00

In [116]:
# Preenchendo valores nulos na coluna 'category' com 'Sem Evento'
df_merged_prices_cevents['category'] = df_merged_prices_cevents['category'].fillna('Sem Categoria Evento')

In [117]:
df_merged_prices_cevents.isnull().sum()

item                3
category            0
store_code          3
yearweek            0
sell_price          0
year           208769
event          208769
date           208769
weekday        208769
weekday_int    208769
dtype: int64

In [118]:
# Preenchendo valores nulos na coluna 'item' com 'Sem Evento'
df_merged_prices_cevents['item'] = df_merged_prices_cevents['item'].fillna('Item Sem Evento')

In [119]:
# Preenchendo valores nulos na coluna 'item' com 'S/E'
df_merged_prices_cevents['store_code'] = df_merged_prices_cevents['store_code'].fillna('S/CODE EVENT')

In [120]:
df_merged_prices_cevents.isnull().sum()

item                0
category            0
store_code          0
yearweek            0
sell_price          0
year           208769
event          208769
date           208769
weekday        208769
weekday_int    208769
dtype: int64

In [121]:
# Exibindo linhas onde 'category' é nulo
df_nulos_item = df_merged_prices_cevents[df_merged_prices_cevents['item'] == 'Item Sem Evento']

print(df_nulos_item)

                    item              category    store_code yearweek  \
7358224  Item Sem Evento  Sem Categoria Evento  S/CODE EVENT   201104
7358225  Item Sem Evento  Sem Categoria Evento  S/CODE EVENT   201553
7358226  Item Sem Evento  Sem Categoria Evento  S/CODE EVENT   201553

         sell_price     year            event       date   weekday  \
7358224        0.00 2,011.00  Sem Inoformação 2011-01-29  Saturday
7358225        0.00 2,015.00  Sem Inoformação 2015-12-28    Monday
7358226        0.00 2,015.00          NewYear 2016-01-01    Friday

         weekday_int
7358224         1.00
7358225         3.00
7358226         7.00

In [122]:
# validando os campos qie possui item e não tem evento

In [123]:
# Exibindo linhas onde 'event' é nulo
df_nulos_event = df_merged_prices_cevents[df_merged_prices_cevents['event'].isna()]

print(df_nulos_event)

                      item     category store_code yearweek  sell_price  year  \
0         ACCESORIES_1_001   ACCESORIES      BOS_1   190000       10.98   NaN
1         ACCESORIES_1_001   ACCESORIES      BOS_2   190000       10.98   NaN
2         ACCESORIES_1_001   ACCESORIES      BOS_3   190000       10.98   NaN
3         ACCESORIES_1_001   ACCESORIES      NYC_1   190000       11.15   NaN
4         ACCESORIES_1_001   ACCESORIES      NYC_2   190000       11.15   NaN
...                    ...          ...        ...      ...         ...   ...
6587398  SUPERMARKET_3_825  SUPERMARKET      NYC_3   201300        4.78   NaN
6587399  SUPERMARKET_3_825  SUPERMARKET      NYC_4   201300        5.26   NaN
6587400  SUPERMARKET_3_825  SUPERMARKET      PHI_1   201300        5.26   NaN
6587401  SUPERMARKET_3_825  SUPERMARKET      PHI_2   201300        5.26   NaN
6587402  SUPERMARKET_3_825  SUPERMARKET      PHI_3   201300        5.26   NaN

        event date weekday  weekday_int
0         NaN  NaT     NaN          NaN
1         NaN  NaT     NaN          NaN
2         NaN  NaT     NaN          NaN
3         NaN  NaT     NaN          NaN
4         NaN  NaT     NaN          NaN
...       ...  ...     ...          ...
6587398   NaN  NaT     NaN          NaN
6587399   NaN  NaT     NaN          NaN
6587400   NaN  NaT     NaN          NaN
6587401   NaN  NaT     NaN          NaN
6587402   NaN  NaT     NaN          NaN

[208769 rows x 10 columns]

In [124]:
# Preenchendo valores nulos na coluna 'item' com 'Sem Evento'
df_merged_prices_cevents['event'] = df_merged_prices_cevents['event'].fillna('Evento Sem Item')

In [125]:
df_merged_prices_cevents.isnull().sum()

item                0
category            0
store_code          0
yearweek            0
sell_price          0
year           208769
event               0
date           208769
weekday        208769
weekday_int    208769
dtype: int64

In [126]:
# Exibindo linhas onde 'year'  
df_nulos_year = df_merged_prices_cevents[df_merged_prices_cevents['event'] == 'Evento Sem Item']

print(df_nulos_event)

                      item     category store_code yearweek  sell_price  year  \
0         ACCESORIES_1_001   ACCESORIES      BOS_1   190000       10.98   NaN
1         ACCESORIES_1_001   ACCESORIES      BOS_2   190000       10.98   NaN
2         ACCESORIES_1_001   ACCESORIES      BOS_3   190000       10.98   NaN
3         ACCESORIES_1_001   ACCESORIES      NYC_1   190000       11.15   NaN
4         ACCESORIES_1_001   ACCESORIES      NYC_2   190000       11.15   NaN
...                    ...          ...        ...      ...         ...   ...
6587398  SUPERMARKET_3_825  SUPERMARKET      NYC_3   201300        4.78   NaN
6587399  SUPERMARKET_3_825  SUPERMARKET      NYC_4   201300        5.26   NaN
6587400  SUPERMARKET_3_825  SUPERMARKET      PHI_1   201300        5.26   NaN
6587401  SUPERMARKET_3_825  SUPERMARKET      PHI_2   201300        5.26   NaN
6587402  SUPERMARKET_3_825  SUPERMARKET      PHI_3   201300        5.26   NaN

        event date weekday  weekday_int
0         NaN  NaT     NaN          NaN
1         NaN  NaT     NaN          NaN
2         NaN  NaT     NaN          NaN
3         NaN  NaT     NaN          NaN
4         NaN  NaT     NaN          NaN
...       ...  ...     ...          ...
6587398   NaN  NaT     NaN          NaN
6587399   NaN  NaT     NaN          NaN
6587400   NaN  NaT     NaN          NaN
6587401   NaN  NaT     NaN          NaN
6587402   NaN  NaT     NaN          NaN

[208769 rows x 10 columns]

In [127]:
# Exibindo linhas onde 'year' é nulo
df_nulos_year = df_merged_prices_cevents[df_merged_prices_cevents['year'].isna()]

print(df_nulos_year)

                      item     category store_code yearweek  sell_price  year  \
0         ACCESORIES_1_001   ACCESORIES      BOS_1   190000       10.98   NaN
1         ACCESORIES_1_001   ACCESORIES      BOS_2   190000       10.98   NaN
2         ACCESORIES_1_001   ACCESORIES      BOS_3   190000       10.98   NaN
3         ACCESORIES_1_001   ACCESORIES      NYC_1   190000       11.15   NaN
4         ACCESORIES_1_001   ACCESORIES      NYC_2   190000       11.15   NaN
...                    ...          ...        ...      ...         ...   ...
6587398  SUPERMARKET_3_825  SUPERMARKET      NYC_3   201300        4.78   NaN
6587399  SUPERMARKET_3_825  SUPERMARKET      NYC_4   201300        5.26   NaN
6587400  SUPERMARKET_3_825  SUPERMARKET      PHI_1   201300        5.26   NaN
6587401  SUPERMARKET_3_825  SUPERMARKET      PHI_2   201300        5.26   NaN
6587402  SUPERMARKET_3_825  SUPERMARKET      PHI_3   201300        5.26   NaN

                   event date weekday  weekday_int
0        Evento Sem Item  NaT     NaN          NaN
1        Evento Sem Item  NaT     NaN          NaN
2        Evento Sem Item  NaT     NaN          NaN
3        Evento Sem Item  NaT     NaN          NaN
4        Evento Sem Item  NaT     NaN          NaN
...                  ...  ...     ...          ...
6587398  Evento Sem Item  NaT     NaN          NaN
6587399  Evento Sem Item  NaT     NaN          NaN
6587400  Evento Sem Item  NaT     NaN          NaN
6587401  Evento Sem Item  NaT     NaN          NaN
6587402  Evento Sem Item  NaT     NaN          NaN

[208769 rows x 10 columns]

In [128]:
# Preenchendo valores nulos na coluna 'year' com 'com o ano do campo yearweek '
# Preenchendo valores nulos na coluna 'year' com o ano extraído do campo 'yearweek'
df_merged_prices_cevents['year'] = df_merged_prices_cevents['year'].fillna(
    df_merged_prices_cevents['yearweek'].astype(str).str[:4]
)

In [129]:
df_merged_prices_cevents.isnull().sum()

item                0
category            0
store_code          0
yearweek            0
sell_price          0
year                0
event               0
date           208769
weekday        208769
weekday_int    208769
dtype: int64

In [130]:
 
# Preenchendo valores nulos na coluna 'weekday_int' com o ano extraído do campo '0'
df_merged_prices_cevents['weekday_int'] = df_merged_prices_cevents['weekday_int'].fillna(0)

In [131]:
df_merged_prices_cevents.isnull().sum()

item                0
category            0
store_code          0
yearweek            0
sell_price          0
year                0
event               0
date           208769
weekday        208769
weekday_int         0
dtype: int64

In [132]:
 
# Preenchendo valores nulos na coluna 'weekday_int' com o ano extraído do campo '0'
df_merged_prices_cevents['weekday'] = df_merged_prices_cevents['weekday'].fillna(0)

In [133]:
df_merged_prices_cevents.isnull().sum()

item                0
category            0
store_code          0
yearweek            0
sell_price          0
year                0
event               0
date           208769
weekday             0
weekday_int         0
dtype: int64

In [134]:
 
# Preenchendo valores nulos na coluna 'date' com '01/01/1900'
df_merged_prices_cevents['date'] = df_merged_prices_cevents['date'].fillna('01/01/1900')

In [135]:
 # Deve retornar 0 se todos os valores nulos foram preenchidos
print(df_merged_prices_cevents['date'].isnull().sum())

0

In [136]:
# Exibindo linhas onde 'category' é nulo
df_nulos_date = df_merged_prices_cevents[df_merged_prices_cevents['date'] ==  '01/01/1900']

print(df_nulos_date)

                      item     category store_code yearweek  sell_price  year  \
0         ACCESORIES_1_001   ACCESORIES      BOS_1   190000       10.98  1900
1         ACCESORIES_1_001   ACCESORIES      BOS_2   190000       10.98  1900
2         ACCESORIES_1_001   ACCESORIES      BOS_3   190000       10.98  1900
3         ACCESORIES_1_001   ACCESORIES      NYC_1   190000       11.15  1900
4         ACCESORIES_1_001   ACCESORIES      NYC_2   190000       11.15  1900
...                    ...          ...        ...      ...         ...   ...
6587398  SUPERMARKET_3_825  SUPERMARKET      NYC_3   201300        4.78  2013
6587399  SUPERMARKET_3_825  SUPERMARKET      NYC_4   201300        5.26  2013
6587400  SUPERMARKET_3_825  SUPERMARKET      PHI_1   201300        5.26  2013
6587401  SUPERMARKET_3_825  SUPERMARKET      PHI_2   201300        5.26  2013
6587402  SUPERMARKET_3_825  SUPERMARKET      PHI_3   201300        5.26  2013

                   event       date weekday  weekday_int
0        Evento Sem Item 1900-01-01       0         0.00
1        Evento Sem Item 1900-01-01       0         0.00
2        Evento Sem Item 1900-01-01       0         0.00
3        Evento Sem Item 1900-01-01       0         0.00
4        Evento Sem Item 1900-01-01       0         0.00
...                  ...        ...     ...          ...
6587398  Evento Sem Item 1900-01-01       0         0.00
6587399  Evento Sem Item 1900-01-01       0         0.00
6587400  Evento Sem Item 1900-01-01       0         0.00
6587401  Evento Sem Item 1900-01-01       0         0.00
6587402  Evento Sem Item 1900-01-01       0         0.00

[208769 rows x 10 columns]

In [137]:
print(df_merged_prices_cevents.isnull().sum())  # Deve retornar 0 se todos os valores nulos foram preenchidos

item           0
category       0
store_code     0
yearweek       0
sell_price     0
year           0
event          0
date           0
weekday        0
weekday_int    0
dtype: int64

In [138]:
# Ordernando pelo Item o dataframe , preparandopara o  proximo merge

In [139]:
# Ordenando o DataFrame 'df_merged_prices_cevents' pela coluna 'item' em ordem ascendente
df_merged_prices_cevents_sort= df_merged_prices_cevents.sort_values(by='item', ascending= True)

# Exibindo o DataFrame ordenado
print(df_merged_prices_cevents_sort)

                      item     category store_code yearweek  sell_price  \
0         ACCESORIES_1_001   ACCESORIES      BOS_1   190000       10.98
4008115   ACCESORIES_1_001   ACCESORIES      BOS_2   201550       10.98
4008114   ACCESORIES_1_001   ACCESORIES      BOS_1   201550       10.98
3977657   ACCESORIES_1_001   ACCESORIES      PHI_3   201549       10.98
3977656   ACCESORIES_1_001   ACCESORIES      PHI_2   201549       11.15
...                    ...          ...        ...      ...         ...
3187210  SUPERMARKET_3_827  SUPERMARKET      NYC_3   201524        1.20
3187211  SUPERMARKET_3_827  SUPERMARKET      NYC_4   201524        1.20
3187212  SUPERMARKET_3_827  SUPERMARKET      PHI_1   201524        1.20
4556768  SUPERMARKET_3_827  SUPERMARKET      NYC_4   201612        1.20
1449053  SUPERMARKET_3_827  SUPERMARKET      BOS_2   201423        1.20

            year            event       date weekday  weekday_int
0           1900  Evento Sem Item 1900-01-01       0         0.00
4008115 2,015.00  Sem Inoformação 2015-12-07  Monday         3.00
4008114 2,015.00  Sem Inoformação 2015-12-07  Monday         3.00
3977657 2,015.00  Sem Inoformação 2015-11-30  Monday         3.00
3977656 2,015.00  Sem Inoformação 2015-11-30  Monday         3.00
...          ...              ...        ...     ...          ...
3187210 2,015.00  Sem Inoformação 2015-06-08  Monday         3.00
3187211 2,015.00  Sem Inoformação 2015-06-08  Monday         3.00
3187212 2,015.00  Sem Inoformação 2015-06-08  Monday         3.00
4556768 2,016.00           Easter 2016-03-27  Sunday         2.00
1449053 2,014.00  Sem Inoformação 2014-06-02  Monday         3.00

[7358227 rows x 10 columns]

In [140]:
# Preparano a tabela de item qtdvendida

In [141]:
dsales

                            id               item     category     department  \
0       ACCESORIES_1_001_NYC_1   ACCESORIES_1_001   ACCESORIES   ACCESORIES_1
1       ACCESORIES_1_002_NYC_1   ACCESORIES_1_002   ACCESORIES   ACCESORIES_1
2       ACCESORIES_1_003_NYC_1   ACCESORIES_1_003   ACCESORIES   ACCESORIES_1
3       ACCESORIES_1_004_NYC_1   ACCESORIES_1_004   ACCESORIES   ACCESORIES_1
4       ACCESORIES_1_005_NYC_1   ACCESORIES_1_005   ACCESORIES   ACCESORIES_1
...                        ...                ...          ...            ...
30485  SUPERMARKET_3_823_PHI_3  SUPERMARKET_3_823  SUPERMARKET  SUPERMARKET_3
30486  SUPERMARKET_3_824_PHI_3  SUPERMARKET_3_824  SUPERMARKET  SUPERMARKET_3
30487  SUPERMARKET_3_825_PHI_3  SUPERMARKET_3_825  SUPERMARKET  SUPERMARKET_3
30488  SUPERMARKET_3_826_PHI_3  SUPERMARKET_3_826  SUPERMARKET  SUPERMARKET_3
30489  SUPERMARKET_3_827_PHI_3  SUPERMARKET_3_827  SUPERMARKET  SUPERMARKET_3

                   store store_code        region  d_1  d_2  d_3  d_4  d_5  \
0      Greenwich_Village      NYC_1      New York    0    0    0    0    0
1      Greenwich_Village      NYC_1      New York    0    0    0    0    0
2      Greenwich_Village      NYC_1      New York    0    0    0    0    0
3      Greenwich_Village      NYC_1      New York    0    0    0    0    0
4      Greenwich_Village      NYC_1      New York    0    0    0    0    0
...                  ...        ...           ...  ...  ...  ...  ...  ...
30485      Queen_Village      PHI_3  Philadelphia    0    0    2    2    0
30486      Queen_Village      PHI_3  Philadelphia    0    0    0    0    0
30487      Queen_Village      PHI_3  Philadelphia    0    6    0    2    2
30488      Queen_Village      PHI_3  Philadelphia    0    0    0    0    0
30489      Queen_Village      PHI_3  Philadelphia    0    0    0    0    0

       d_6  d_7  d_8  d_9  d_10  d_11  d_12  d_13  d_14  d_15  d_16  d_17  \
0        0    0    0    0     0     0     0     0     0     0     0     0
1        0    0    0    0     0     0     0     0     0     0     0     0
2        0    0    0    0     0     0     0     0     0     0     0     0
3        0    0    0    0     0     0     0     0     0     0     0     0
4        0    0    0    0     0     0     0     0     0     0     0     0
...    ...  ...  ...  ...   ...   ...   ...   ...   ...   ...   ...   ...
30485    3    1    4    1     0     0     3     4     4     0     0     1
30486    5    0    1    1     3     1     1     0     4     2     0     1
30487    4    1    8    5     2     7     5     3     5    20     8    10
30488    0    0    0    0     0     0     0     0     0     0     0     0
30489    0    0    0    0     0     0     0     0     0     0     0     0

       d_18  d_19  d_20  d_21  d_22  d_23  d_24  d_25  d_26  d_27  d_28  d_29  \
0         0     0     0     0     0     0     0     0     0     0     0     0
1         0     0     0     0     0     0     0     0     0     0     0     0
2         0     0     0     0     0     0     0     0     0     0     0     0
3         0     0     0     0     0     0     0     0     0     0     0     0
4         0     0     0     0     0     0     0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
30485     0     1     1     7     7     3     6     3     3     7    12     4
30486     2     1     1     0     0     0     0     3     1     1     1     2
30487     3     3     4     7     2     3     5     6     3     4     1     2
30488     0     0     0     0     0     0     0     0     0     0     0     0
30489     0     0     0     0     0     0     0     0     0     0     0     0

       d_30  d_31  d_32  d_33  d_34  d_35  d_36  d_37  d_38  d_39  d_40  d_41  \
0         0     0     0     0     0     0     0     0     0     0     0     0
1         0     0     0     0     0     0     0     0     0     0     0     0
2         0     0     0     0     0     0     0     0     0     0     0     0
3         0     0     0     0     0     0     0     2     0     0     0     2
4         0     0     0     0     0     0     0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
30485     2     7     5    12     5     3     3     7     6     4     6     3
30486     0     1     0     1     1     1     3     3     4     4     3     6
30487     5     1     2     2     2     1     9     8     1     6     3     3
30488     0     0     0     0     0     0     0     0     0     0     0     0
30489     0     0     0     0     0     0     0     0     0     0     0     0

       d_42  d_43  d_44  d_45  d_46  d_47  d_48  d_49  d_50  d_51  d_52  d_53  \
0         0     0     0     0     0     0     0     0     0     0     0     0
1         0     0     0     0     0     0     0     0     0     0     0     0
2         0     0     0     0     0     0     0     0     0     0     0     0
3         0     1     0     0     0     0     0     0     2     0     1     0
4         0     0     0     0     0     0     0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
30485     6     2     3     4     1     1     3     2     1     2     3     4
30486     1     0     1     2     3     0     1     1     1     0     0     0
30487     4    10     4     6     3     2     1     1     3     2     2     1
30488     0     0     0     0     0     0     0     0     0     0     0     0
30489     0     0     0     0     0     0     0     0     0     0     0     0

       d_54  d_55  d_56  d_57  d_58  d_59  d_60  d_61  d_62  d_63  d_64  d_65  \
0         0     0     0     0     0     0     0     0     0     0     0     0
1         0     0     0     0     0     0     0     0     0     0     0     0
2         0     0     0     0     0     0     0     0     0     0     0     0
3         0     1     1     1     0     2     3     1     0     0     0     0
4         0     0     0     0     0     0     0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
30485     7     2     4     4     4     7     7     2     4     7     4     4
30486     1     0     0     1     0     0     0     1     2     0     1     2
30487     1     1     1     1     0     1     4     0     0     1     3     1
30488     0     0     0     0     0     0     0     0     0     0     0     0
30489     0     0     0     0     0     0     0     0     0     0     0     0

       d_66  d_67  d_68  d_69  d_70  d_71  d_72  d_73  d_74  d_75  d_76  d_77  \
0         0     0     0     0     0     0     0     0     0     0     0     0
1         0     0     0     0     0     0     0     0     0     0     0     0
2         0     0     0     0     0     0     0     0     0     0     0     0
3         0     1     0     0     1     1     0     0     1     0     0     1
4         0     0     0     0     0     0     0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
30485     7     3     4     2     3    10     6     8     5     1     0     2
30486     1     2     0     1     1     0     1     1     2     0     3     2
30487     1     1     3     0     1     1     1     2     3     1     1     1
30488     0     0     0     0     0     0     0     0     0     0     0     0
30489     0     0     0     0     0     0     0     0     0     0     0     0

       d_78  d_79  d_80  d_81  d_82  d_83  d_84  d_85  d_86  d_87  d_88  d_89  \
0         0     0     0     0     0     0     0     0     0     0     0     0
1         0     0     0     0     0     0     0     0     0     0     0     0
2         0     0     0     0     0     0     0     0     0     0     0     0
3         2     3     0     2     0     0     2     2     0     0     2     1
4         0     0     0     0     0     0     0     0     0     0     0     0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
30485     1     0     3     0     2     3     1     1     1     7     1     4
30486     1     0     0     0     0     1     1     3     1     0     1     1
30487     2     1     3     1     0     0     3     1     1     2     0     1
30488     0     0     0     0     0     0     0     0     0     0     0     0
30489     0     0     0     0     0     0     0     0     0     0     0     0

       d_90  d_91  d_92  d_93  d_94  d_95  d_96  d_97  d_98  d_99  d_100  \
0         0     0     0     0     0     0     0     0     0     0      0
1         0     0     0     0     0     0     0     0     0     0      0
2         0     0     0     0     0     0     0     0     0     0      0
3         2     1     1     1     2     0     0     1     0     1      3
4         0     0     0     0     0     0     0     0     0     0      0
...     ...   ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
30485     2     2     0     0     0     5     1     1     3     1      6
30486     0     1     2     0     3     1     2     1     0     0      0
30487     2     1     1     2     1     0     0     1     0     1      0
30488     0     0     0     0     0     0     0     0     0     0      0
30489     0     0     0     0     0     0     0     0     0     0      0

       d_101  d_102  d_103  d_104  d_105  d_106  d_107  d_108  d_109  d_110  \
0          0      0      0      0      0      0      0      0      0      0
1          0      0      0      0      0      0      0      0      0      0
2          0      0      0      0      0      0      0      0      0      0
3          1      0      0      0      0      3      5      2      2      1
4          0      0      0      0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      6      3      4      3      2      2      1      2      2      1
30486      1      0      1      1      0      1      2      2      0      0
30487      2      2      3      2      0      2      2      2      0      1
30488      0      0      0      0      0      0      0      0      0      0
30489      0      0      0      0      0      0      0      0      0      0

       d_111  d_112  d_113  d_114  d_115  d_116  d_117  d_118  d_119  d_120  \
0          0      0      0      0      0      0      0      0      0      0
1          0      0      0      0      0      0      0      0      0      0
2          0      0      0      0      0      0      0      0      0      0
3          1      1      1      1      1      0      0      2      1      1
4          0      0      8      6      0      3      2      3      5      3
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      1      0      0      0      2      3      1      0      1      1
30486      0      1      0      0      2      0      1      0      0      0
30487      0      1      1      2      1      1      0      0      0      0
30488      0      0      0      0      0      0      0      0      0      0
30489      0      0      0      0      0      0      0      0      0      0

       d_121  d_122  d_123  d_124  d_125  d_126  d_127  d_128  d_129  d_130  \
0          0      0      0      0      0      0      0      0      0      0
1          0      0      0      0      0      0      0      0      0      0
2          0      0      0      0      0      0      0      0      0      0
3          1      2      0      0      0      2      5      6      0      0
4          1      0      0      1      0      2      2      4      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      1      1      1      3      0      0      1      2      1      0
30486      0      0      0      0      1      0      0      1      0      1
30487      0      2      0      2      0      2      2      0      1      1
30488      0      0      0      0      0      0      0      0      0      0
30489      0      0      0      0      0      0      0      0      0      0

       d_131  d_132  d_133  d_134  d_135  d_136  d_137  d_138  d_139  d_140  \
0          0      0      0      0      0      0      0      0      0      0
1          0      0      0      0      0      0      0      0      0      0
2          0      0      0      0      0      0      0      0      0      0
3          0      0      0      0      0      0      0      0      0      2
4          3      1      1      1      2      2      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      1      3      1      2      2      0      3      2      1      0
30486      1      0      0      0      1      0      2      1      0      0
30487      1      2      1      3      0      2      1      1      1      1
30488      0      0      0      0      0      0      0      0      0      0
30489      0      0      0      0      0      0      0      0      0      0

       d_141  d_142  d_143  d_144  d_145  d_146  d_147  d_148  d_149  d_150  \
0          0      0      0      0      0      0      0      0      0      0
1          0      0      0      1      0      0      1      0      0      0
2          0      0      0      0      0      0      0      0      0      0
3          1      2      0      1      0      2      0      0      5      1
4          0      0      3      7      1      1      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      0      1      2      0      0      0      0      0      2      0
30486      0      0      0      0      0      1      0      2      0      0
30487      2      1      0      1      0      2      1      0      1      2
30488      0      0      0      0      0      0      0      0      0      0
30489      0      0      0      0      0      0      0      0      0      0

       d_151  d_152  d_153  d_154  d_155  d_156  d_157  d_158  d_159  d_160  \
0          0      0      0      0      0      0      0      0      0      0
1          0      0      1      1      0      1      0      0      0      0
2          0      0      0      0      0      0      0      0      0      0
3          0      0      1      3      1      3      5      1      3      0
4          0      0      0      0      1      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      2      0      1      2      1      1      0      0      2      1
30486      0      1      0      0      1      2      2      2      0      0
30487      0      1      0      0      2      1      1      1      1      2
30488      0      0      0      0      0      0      0      0      0      0
30489      0      0      0      0      0      0      0      0      0      0

       d_161  d_162  d_163  d_164  d_165  d_166  d_167  d_168  d_169  d_170  \
0          0      0      0      0      0      0      0      0      0      0
1          1      0      0      0      1      0      0      0      0      0
2          0      0      0      0      0      0      0      0      0      0
3          3      4      4      0      0      1      3      1      4      0
4          0      0      0      0      1      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      1      0      1      1      2      1      3      1      0      2
30486      0      3      1      4      1      2      1      2      3      3
30487      2      1      1      4      7      0      1      4      2      2
30488      0      0      0      0      0      0      0      0      0      0
30489      0      0      0      0      0      0      0      0      0      0

       d_171  d_172  d_173  d_174  d_175  d_176  d_177  d_178  d_179  d_180  \
0          0      0      0      0      0      0      0      0      0      0
1          0      0      0      0      0      1      0      0      0      0
2          0      0      0      0      0      0      0      0      0      0
3          0      2      0      2      0      1      4      2      1      0
4          0      0      0      0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      0      0      0      1      0      1      0      1      1      0
30486      0      0      2      2      0      3      1      0      0      0
30487      2      0      1      0      0      0      1      0      0      0
30488      0      0      0      0      0      0      0      0      0      0
30489      0      0      0      0      0      0      0      0      0      0

       d_181  d_182  d_183  d_184  d_185  d_186  d_187  d_188  d_189  d_190  \
0          0      0      0      0      0      0      0      0      0      0
1          0      0      0      0      0      0      0      1      0      0
2          0      0      0      0      0      0      0      0      0      0
3          2      1      3      6      1      1      2      1      2      3
4          0      0      0      3      3      2      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      2      0      0      2      1      0      1      0      1      1
30486      0      0      0      2      2      5      0      0      1      0
30487      2      1      2      0      0      0      0      0      0      0
30488      0      0      0      0      0      0      0      0      0      0
30489      0      0      0      0      0      0      0      0      0      0

       d_191  d_192  d_193  d_194  d_195  d_196  d_197  d_198  d_199  d_200  \
0          0      0      0      0      0      0      0      0      0      0
1          1      0      0      0      0      0      1      1      1      1
2          0      0      0      0      0      0      0      0      0      0
3          1      2      0      0      0      3      4      5      1      0
4          0      0      0      2      0      6      2      4      2      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      1      0      3      0      1      0      1      2      3      0
30486      1      1      2      0      1      0      1      0      3      0
30487      0      0      0      0      0      0      0      0      0      0
30488      0      0      0      0      0      0      0      0      0      0
30489      0      0      0      0      0      0      0      0      0      0

       d_201  d_202  d_203  d_204  d_205  d_206  d_207  d_208  d_209  d_210  \
0          0      0      0      0      0      0      0      0      0      0
1          0      1      0      0      0      0      0      1      0      0
2          0      0      0      0      0      0      0      0      0      0
3          0      1      0      1      4      6      3      1      1      0
4          0      3      2      4      1      0      0      0      0      1
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      1      0      1      1      0      0      1      0      0      0
30486      0      2      1      1      0      1      0      1      0      0
30487      0      0      0      0      0      0      0      0      0      0
30488      0      0      0      0      0      0      0      0      0      0
30489      0      0      0      0      0      0      0      0      0      0

       d_211  d_212  d_213  d_214  d_215  d_216  d_217  d_218  d_219  d_220  \
0          0      0      0      0      0      0      0      0      0      0
1          1      0      0      0      1      0      1      1      0      1
2          0      0      0      0      0      0      0      0      0      0
3          1      4      5      1      1      4      0      0      0      1
4          1      1      2      0      0      0      0      0      0      0
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
30485      0      0      0      0      1      1      0      5      1      0

In [142]:
dsales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1920 entries, id to d_1913
dtypes: int64(1913), object(7)
memory usage: 446.6+ MB

In [143]:
dsales.columns

Index(['id', 'item', 'category', 'department', 'store', 'store_code', 'region',
       'd_1', 'd_2', 'd_3',
       ...
       'd_1904', 'd_1905', 'd_1906', 'd_1907', 'd_1908', 'd_1909', 'd_1910',
       'd_1911', 'd_1912', 'd_1913'],
      dtype='object', length=1920)

In [144]:
 # Verificar o total de linhas no DataFrame dsales_weekly_sort
total_linhas_dsales = len(dsales)
print(f"Total de linhas em dsales_weekly_sort: {total_linhas_dsales}")

Total de linhas em dsales_weekly_sort: 30490

In [145]:
# verificando se tem linhas duplicadas

In [146]:

# Encontrar as duplicatas
duplicados_dsales = dsales.duplicated(subset=['item', 'category', 'department', 'store','region'], keep=False)

# Filtrar o DataFrame original para mostrar apenas as linhas duplicadas
duplicados_df_sales	= dsales[duplicados_dsales]

# Exibir os itens duplicados
print(duplicados_df_sales)

Empty DataFrame
Columns: [id, item, category, department, store, store_code, region, d_1, d_2, d_3, d_4, d_5, d_6, d_7, d_8, d_9, d_10, d_11, d_12, d_13, d_14, d_15, d_16, d_17, d_18, d_19, d_20, d_21, d_22, d_23, d_24, d_25, d_26, d_27, d_28, d_29, d_30, d_31, d_32, d_33, d_34, d_35, d_36, d_37, d_38, d_39, d_40, d_41, d_42, d_43, d_44, d_45, d_46, d_47, d_48, d_49, d_50, d_51, d_52, d_53, d_54, d_55, d_56, d_57, d_58, d_59, d_60, d_61, d_62, d_63, d_64, d_65, d_66, d_67, d_68, d_69, d_70, d_71, d_72, d_73, d_74, d_75, d_76, d_77, d_78, d_79, d_80, d_81, d_82, d_83, d_84, d_85, d_86, d_87, d_88, d_89, d_90, d_91, d_92, d_93, ...]
Index: []

In [147]:
# nao temos duplicados no arquivo

In [148]:
# primeiro tratamento e  calculando a media por semana, para transformar a granularidade de dia para semana

In [149]:
# Cria a lista de colunas de dias
day_columns = [f'd_{i}' for i in range(1, 1914)]

# Calcula o número de semanas (cada grupo de 7 dias é uma semana)
n_weeks = len(day_columns) // 7

# Agrupa os dias em semanas e calcula a média
weekly_means = []

# Itera sobre as semanas
for i in range(n_weeks):
    start_day = i * 7 + 1  # Dia inicial da semana
    end_day = start_day + 6  # Dia final da semana
    
    # Cria uma lista com os dias da semana atual
    week_days = [f'd_{j}' for j in range(start_day, end_day + 1)]
    
    # Calcula a média para essa semana
    dsales[f'dweek_{i+1}'] = dsales[week_days].mean(axis=1)
    weekly_means.append(f'dweek_{i+1}')

# Agora, df tem colunas para cada semana com a média das vendas
# Podemos organizar os dados e remover as colunas de dias, se necessário:
dsales_weekly = dsales[['id', 'item', 'category', 'department', 'store', 'store_code', 'region'] + weekly_means]

# Exibe o resultado
dsales_weekly.head()

,id,item,category,department,store,store_code,region,dweek_1,dweek_2,dweek_3,dweek_4,dweek_5,dweek_6,dweek_7,dweek_8,dweek_9,dweek_10,dweek_11,dweek_12,dweek_13,dweek_14,dweek_15,dweek_16,dweek_17,dweek_18,dweek_19,dweek_20,dweek_21,dweek_22,dweek_23,dweek_24,dweek_25,dweek_26,dweek_27,dweek_28,dweek_29,dweek_30,dweek_31,dweek_32,dweek_33,dweek_34,dweek_35,dweek_36,dweek_37,dweek_38,dweek_39,dweek_40,dweek_41,dweek_42,dweek_43,dweek_44,dweek_45,dweek_46,dweek_47,dweek_48,dweek_49,dweek_50,dweek_51,dweek_52,dweek_53,dweek_54,dweek_55,dweek_56,dweek_57,dweek_58,dweek_59,dweek_60,dweek_61,dweek_62,dweek_63,dweek_64,dweek_65,dweek_66,dweek_67,dweek_68,dweek_69,dweek_70,dweek_71,dweek_72,dweek_73,dweek_74,dweek_75,dweek_76,dweek_77,dweek_78,dweek_79,dweek_80,dweek_81,dweek_82,dweek_83,dweek_84,dweek_85,dweek_86,dweek_87,dweek_88,dweek_89,dweek_90,dweek_91,dweek_92,dweek_93,dweek_94,dweek_95,dweek_96,dweek_97,dweek_98,dweek_99,dweek_100,dweek_101,dweek_102,dweek_103,dweek_104,dweek_105,dweek_106,dweek_107,dweek_108,dweek_109,dweek_110,dweek_111,dweek_112,dweek_113,dweek_114,dweek_115,dweek_116,dweek_117,dweek_118,dweek_119,dweek_120,dweek_121,dweek_122,dweek_123,dweek_124,dweek_125,dweek_126,dweek_127,dweek_128,dweek_129,dweek_130,dweek_131,dweek_132,dweek_133,dweek_134,dweek_135,dweek_136,dweek_137,dweek_138,dweek_139,dweek_140,dweek_141,dweek_142,dweek_143,dweek_144,dweek_145,dweek_146,dweek_147,dweek_148,dweek_149,dweek_150,dweek_151,dweek_152,dweek_153,dweek_154,dweek_155,dweek_156,dweek_157,dweek_158,dweek_159,dweek_160,dweek_161,dweek_162,dweek_163,dweek_164,dweek_165,dweek_166,dweek_167,dweek_168,dweek_169,dweek_170,dweek_171,dweek_172,dweek_173,dweek_174,dweek_175,dweek_176,dweek_177,dweek_178,dweek_179,dweek_180,dweek_181,dweek_182,dweek_183,dweek_184,dweek_185,dweek_186,dweek_187,dweek_188,dweek_189,dweek_190,dweek_191,dweek_192,dweek_193,dweek_194,dweek_195,dweek_196,dweek_197,dweek_198,dweek_199,dweek_200,dweek_201,dweek_202,dweek_203,dweek_204,dweek_205,dweek_206,dweek_207,dweek_208,dweek_209,dweek_210,dweek_211,dweek_212,dweek_213,dweek_214,dweek_215,dweek_216,dweek_217,dweek_218,dweek_219,dweek_220,dweek_221,dweek_222,dweek_223,dweek_224,dweek_225,dweek_226,dweek_227,dweek_228,dweek_229,dweek_230,dweek_231,dweek_232,dweek_233,dweek_234,dweek_235,dweek_236,dweek_237,dweek_238,dweek_239,dweek_240,dweek_241,dweek_242,dweek_243,dweek_244,dweek_245,dweek_246,dweek_247,dweek_248,dweek_249,dweek_250,dweek_251,dweek_252,dweek_253,dweek_254,dweek_255,dweek_256,dweek_257,dweek_258,dweek_259,dweek_260,dweek_261,dweek_262,dweek_263,dweek_264,dweek_265,dweek_266,dweek_267,dweek_268,dweek_269,dweek_270,dweek_271,dweek_272,dweek_273
0,ACCESORIES_1_001_NYC_1,ACCESORIES_1_001,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.14,0.00,0.29,0.29,0.86,0.14,0.29,0.43,0.43,0.57,0.43,0.57,0.43,0.29,0.43,0.57,0.86,1.00,0.14,0.71,0.86,0.86,1.00,0.43,0.29,0.43,0.43,0.29,0.29,0.29,0.29,0.86,0.43,0.29,0.14,0.57,0.57,0.00,0.57,0.29,0.43,0.29,0.14,0.14,0.71,0.29,0.29,0.43,0.57,0.57,1.14,0.29,0.71,0.29,0.43,0.57,0.14,1.00,0.14,0.86,0.86,0.71,0.29,0.71,1.00,0.29,0.29,0.57,0.43,0.71,0.71,0.86,0.71,0.43,0.86,0.57,1.14,0.43,0.86,0.43,0.71,0.57,1.00,0.43,1.00,0.57,0.71,0.57,1.14,0.86,1.00,0.43,0.71,0.57,0.43,0.00,0.00,0.00,0.00,0.29,0.57,0.57,0.57,0.86,0.86,0.71,0.29,1.00,0.71,0.71,0.86,0.86,0.71,0.71,0.14,1.00,0.57,0.29,0.57,0.86,0.29,0.57,0.57,0.29,0.86,0.57,0.57,1.00,0.86,0.71,1.29,0.86,0.43,0.71,0.71,0.86,1.14,1.43,0.86,0.86,1.43,0.43,1.43,0.71,1.29
1,ACCESORIES_1_002_NYC_1,ACCESORIES_1_002,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.29,0.29,0.29,0.14,0.00,0.14,0.14,0.14,0.71,0.14,0.43,0.29,0.29,0.00,0.29,0.00,0.43,0.43,0.29,0.14,0.43,0.00,0.00,0.14,0.29,0.57,1.71,0.29,0.14,0.14,0.14,0.43,0.29,0.14,0.29,0.29,0.00,0.14,0.00,0.00,0.00,0.29,0.14,0.14,0.00,0.29,0.29,0.00,0.29,0.14,0.29,0.14,0.14,0.14,0.29,0.14,0.00,0.00,0.14,0.00,0.43,0.14,0.00,0.71,0.00,0.14,0.29,0.14,0.43,0.29,0.57,0.14,0.00,0.43,0.14,0.29,0.29,0.86,1.86,1.00,0.14,0.00,0.29,0.14,0.57,0.29,0.29,0.00,0.43,0.43,0.14,0.00,0.29,0.57,0.00,0.14,0.29,0.00,0.43,0.57,0.14,0.00,0.43,0.14,0.43,0.14,0.43,0.43,0.14,0.43,0.00,0.29,0.29,0.43,0.43,0.14,0.00,0.00,0.29,0.29,0.29,0.00,0.00,0.14,0.14,0.14,0.14,0.00,0.00,0.43,0.86,0.14,0.00,0.14,0.00,0.00,0.00,0.29,0.00,0.14,0.00,0.14,0.14,0.14,0.00,0.29,0.14,0.00,0.57,0.14,0.43,0.14,0.57,0.57,0.43,0.57,0.29,0.43,0.71,0.57,0.14,0.57,0.43,0.57,0.14,0.29,0.29,0.57,0.00,0.14,0.00,0.43,0.43,0.29,0.43,0.29,0.57,0.86,0.14,0.29,0.29,0.43,0.43,1.86,0.00,0.00,0.43,0.00,0.14,0.14,0.00,0.14,0.00,0.29,0.14,0.14,0.14,0.14,0.00,0.14,0.00,0.14,0.43,0.14,0.71,0.14,0.29,0.00,0.43,0.29,0.14,0.43,0.43,0.14,1.00,0.57,0.43,0.29,1.29,0.14,0.14,0.29,0.29,0.57,0.00,0.43,0.14,0.71,0.29,0.43,0.43,0.43,0.14,0.71,1.00,2.00,0.14,0.00,0.29,0.14,0.14,0.14,0.14,0.14,0.29,0.14,0.43,0.14,0.29,0.43,0.00,0.00,0.14
2,ACCESORIES_1_003_NYC_1,ACCESORIES_1_003,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.43,0.57,0.57,0.00,0.43,0.00,0.43,0.57,0.86,0.00,0.29,0.29,0.14,0.29,0.14,0.14,0.43,0.14,0.00,0.29,0.14,0.00,0.14,0.29,0.14,0.00,0.14,0.14,0.00,0.00,0.14,0.43,0.29,0.00,0.43,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.14,0.14,0.14,0.00,0.29,0.43,0.57,0.14,0.29,0.14,0.71,0.57,0.29,0.29,0.29,0.14,0.14,0.14,0.14,0.14,0.29,0.29,0.43,0.43,0.43,0.29,0.57,0.14,0.71,0.43,0.00,0.43,0.14,0.43,0.71,0.29,0.14,0.14,1.29,0.71,0.43,0.57,0.43,0.57,0.43,0.43,0.43,0.43,0.29,1.71,1.00,1.57,1.57,1.86,1.29,0.29,0.29,0.00,0.00,0.14,0.71,0.43,0.14,0.00,1.43,0.43,0.14,0.14,0.29,0.71,1.00
3,ACCESORIES_1_004_NYC_1,ACCESORIES_1_004,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0.00,0.00,0.00,0.00,0.00,0.57,0.14,0.71,1.00,0.29,0.43,1.29,1.14,0.71,0.71,2.14,0.86,0.86,1.57,0.29,0.86,1.43,2.29,1.86,1.14,1.57,2.29,1.29,1.57,2.29,2.29,1.00,2.29,1.43,2.29,1.71,2.57,1.71,1.14,1.14,2.71,1.14,1.29,1.43,2.00,2.57,0.86,1.86,0.86,1.14,1.43,2.29,1.71,1.00,0.43,2.14,2.00,1.43,1.71,1.29,1.86,2.00,0.57,1.00,0.71,1.29,1.29,0.00,1.71,1.00,1.14,1.43,0.86,0.43,0.43,0.57,1.29,1.14,1.29,0.57,1.57,1.71,1.57,2.57,1.57,1.71,2.00,1.86,1.57,2.00,1.29,0.00,0.86,0.00,0.29,0.43,0.14,0.57,0.29,0.00,0.00,0.00,0.00,0.00,1.43,1.57,1.00,1.00,1.86,1.57,2.14,1.71,1.86,1.86,2.00,1.29,2.14,1.86,1.00,2.00,1.57,1.14,2.00,0.43,1.14,0.86,1.43,0.00,0.14,1.86,1.86,2.00,1.43,1.43,1.57,1.86,2.00,1.57,1.29,2.00,1.57,2.71,1.29,3.43,2.14,1.14,2.00,3.14,3.00,2.71,1.57,1.86,4.14,1.43,1.57,1.29,3.00,1.86,2.29,1.86,3.57,1.86,3.00,1.86,3.00,1.29,3.57,1.86,2.43,1.43,3.29,2.29,2.43,2.43,2.71,2.00,2.57,2.43,3.29,3.57,1.57,2.14,2.43,2.00,3.00,1.71,3.29,2.43,2.71,1.57,2.29,0.86,1.29,2.00,1.00,2.71,3.14,3.43,4.29,2.29,2.86,1.43,3.29,2.00,2.71,1.86,2.57,2.29,3.00,1.86,2.57,3.00,2.71,1.57,2.43,1.71,3.00,2.00,2.86,2.57,3.14,1.57,2.71,2.71,2.57,2.14,3.00,1.57,2.43,2.14,2.00,2.14,2.57,2.71,0.86,1.29,2.43,1.00,2.86,1.14,3.14,1.43,1.86,0.71,1.86,1.71,2.71,2.00,1.14,1.71,1.71,2.00,2.57,1.00,2.00,0.86,2.29,1.14,1.00,2.57,2.86,2.57,3.00,0.71,2.57,1.00,1.43,2.00,2.29,2.14,1.43,2.14,2.00
4,ACCESORIES_1_005_NYC_1,ACCESORIES_1_005,ACCESORIES,ACCESORIES_1,Greenwich_Village,NYC_1,New York,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,3.86,1.00,1.57,0.71,1.71,0.00,0.14,0.14,0.00,0.00,1.14,1.14,1.86,0.86,0.57,2.14,5.00,1.43,1.00,0.57,0.57,1.29,1.00,0.43,1.43,1.57,1.00,0.57,0.57,2.00,3.14,0.00,0.86,1.43,0.71,0.00,0.29,1.57,1.14,0.00,0.00,0.00,0.00,0.00,0.14,0.00,0.00,0.00,0.00,0.00,0.00,0.71,0.71,2.57,1.43,2.14,1.14,0.86,0.86,0.71,0.71,0.57,1.29,0.43,1.14,0.86,1.29,0.57,0.00,0.29,1.43,1.71,0.86,1.29,0.86,1.14,1.71,2.00,0.86,1.43,1.29,0.86,1.29,2.14,1.57,2.14,0.71,1.57,1.43,1.57,0.29,1.14,1.43,0.71,1.00,1.43,1.00,1.29,0.14,1.29,1.29,0.57,0.14,0.71,2.29,0.57,0.43,1.43,0.29,0.86,1.00,2.00,0.71,0.86,1.43,1.14,0.57,1.29,1.29,1.43,1.71,1.29,1.71,0.71,1.00,1.14,1.00,0.57,0.71,0.43,1.00,1.14,0.57,0.57,1.29,1.71,0.29,0.14,0.57,0.86,1.71,0.86,0.71,1.29,0.71,0.57,0.86,1.00,0.71,0.86,0.43,0.57,1.14,0.43,0.71,1.29,1.14,0.43,0.71,1.86,0.57,0.43,1.00,0.29,1.00,0.43,1.00,0.86,0.57,1.14,0.57,0.71,1.14,0.00,1.29,0.57,0.43,1.43,2.57,1.29,0.86,1.86,1.57,0.71,1.00,2.43,1.29,1.86,1.00,0.57,0.71,0.86,1.29,0.86,1.43,1.43,1.14,1.14,1.29,1.57,1.43,0.43,1.00,1.71,1.14,1.29,1.29,0.00,0.29,0.57,0.57,1.43,0.71,0.43,1.86,1.57,1.14,0.57,0.43,1.14,2.00,2.00,1.00,0.57,1.43,1.43,1.29,1.29,1.57,1.43,1.00,1.43,1.86,1.29,0.71,1.29,0.57,1.29,2.43,2.14,0.29,0.43,1.14,0.29,0.71,1.57,0.57,1.71,1.00,0.86,1.14,1.29,1.43,1.29,1.00,1.14,1.14

In [150]:
total_linhas_dsales_weekly = dsales_weekly.shape[0]
print(total_linhas_dsales_weekly)

30490

In [151]:
# Ordenano o  campo 'item' dos dataframe para poder aplicar o merge

In [152]:
# Ordenando o DataFrame 'dsales_semanal' pela coluna 'item' em ordem ascendente
dsales_weekly_sort = dsales_weekly.sort_values(by='item', ascending= True)

# Exibindo o DataFrame ordenado
print(dsales_weekly_sort)

                            id               item     category     department  \
0       ACCESORIES_1_001_NYC_1   ACCESORIES_1_001   ACCESORIES   ACCESORIES_1
21343   ACCESORIES_1_001_PHI_1   ACCESORIES_1_001   ACCESORIES   ACCESORIES_1
15245   ACCESORIES_1_001_BOS_2   ACCESORIES_1_001   ACCESORIES   ACCESORIES_1
12196   ACCESORIES_1_001_BOS_1   ACCESORIES_1_001   ACCESORIES   ACCESORIES_1
24392   ACCESORIES_1_001_PHI_2   ACCESORIES_1_001   ACCESORIES   ACCESORIES_1
...                        ...                ...          ...            ...
9146   SUPERMARKET_3_827_NYC_3  SUPERMARKET_3_827  SUPERMARKET  SUPERMARKET_3
6097   SUPERMARKET_3_827_NYC_2  SUPERMARKET_3_827  SUPERMARKET  SUPERMARKET_3
3048   SUPERMARKET_3_827_NYC_1  SUPERMARKET_3_827  SUPERMARKET  SUPERMARKET_3
27440  SUPERMARKET_3_827_PHI_2  SUPERMARKET_3_827  SUPERMARKET  SUPERMARKET_3
30489  SUPERMARKET_3_827_PHI_3  SUPERMARKET_3_827  SUPERMARKET  SUPERMARKET_3

                   store store_code        region  dweek_1  dweek_2  dweek_3  \
0      Greenwich_Village      NYC_1      New York     0.00     0.00     0.00
21343    Midtown_Village      PHI_1  Philadelphia     0.00     0.00     0.00
15245            Roxbury      BOS_2        Boston     0.00     0.00     0.00
12196          South_End      BOS_1        Boston     0.00     0.00     0.00
24392           Yorktown      PHI_2  Philadelphia     0.00     0.00     0.00
...                  ...        ...           ...      ...      ...      ...
9146             Tribeca      NYC_3      New York     0.00     0.00     0.00
6097              Harlem      NYC_2      New York     0.00     0.00     0.00
3048   Greenwich_Village      NYC_1      New York     0.00     0.00     0.00
27440           Yorktown      PHI_2  Philadelphia     0.00     0.00     0.00
30489      Queen_Village      PHI_3  Philadelphia     0.00     0.00     0.00

       dweek_4  dweek_5  dweek_6  dweek_7  dweek_8  dweek_9  dweek_10  \
0         0.00     0.00     0.00     0.00     0.00     0.00      0.00
21343     0.00     0.00     0.00     0.00     0.00     0.00      0.00
15245     0.00     0.00     0.00     0.00     0.00     0.00      0.00
12196     0.00     0.00     0.00     0.00     0.00     0.00      0.00
24392     0.00     0.00     0.00     0.00     0.00     0.00      0.00
...        ...      ...      ...      ...      ...      ...       ...
9146      0.00     0.00     0.00     0.00     0.00     0.00      0.00
6097      0.00     0.00     0.00     0.00     0.00     0.00      0.00
3048      0.00     0.00     0.00     0.00     0.00     0.00      0.00
27440     0.00     0.00     0.00     0.00     0.00     0.00      0.00
30489     0.00     0.00     0.00     0.00     0.00     0.00      0.00

       dweek_11  dweek_12  dweek_13  dweek_14  dweek_15  dweek_16  dweek_17  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_18  dweek_19  dweek_20  dweek_21  dweek_22  dweek_23  dweek_24  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_25  dweek_26  dweek_27  dweek_28  dweek_29  dweek_30  dweek_31  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_32  dweek_33  dweek_34  dweek_35  dweek_36  dweek_37  dweek_38  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_39  dweek_40  dweek_41  dweek_42  dweek_43  dweek_44  dweek_45  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_46  dweek_47  dweek_48  dweek_49  dweek_50  dweek_51  dweek_52  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_53  dweek_54  dweek_55  dweek_56  dweek_57  dweek_58  dweek_59  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_60  dweek_61  dweek_62  dweek_63  dweek_64  dweek_65  dweek_66  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_67  dweek_68  dweek_69  dweek_70  dweek_71  dweek_72  dweek_73  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_74  dweek_75  dweek_76  dweek_77  dweek_78  dweek_79  dweek_80  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_81  dweek_82  dweek_83  dweek_84  dweek_85  dweek_86  dweek_87  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_88  dweek_89  dweek_90  dweek_91  dweek_92  dweek_93  dweek_94  \
0          0.00      0.00      0.00      0.00      0.00      0.00      0.00
21343      0.00      0.00      0.00      0.00      0.00      0.00      0.00
15245      0.00      0.00      0.00      0.00      0.00      0.00      0.00
12196      0.00      0.00      0.00      0.00      0.00      0.00      0.00
24392      0.00      0.00      0.00      0.00      0.00      0.00      0.00
...         ...       ...       ...       ...       ...       ...       ...
9146       0.00      0.00      0.00      0.00      0.00      0.00      0.00
6097       0.00      0.00      0.00      0.00      0.00      0.00      0.00
3048       0.00      0.00      0.00      0.00      0.00      0.00      0.00
27440      0.00      0.00      0.00      0.00      0.00      0.00      0.00
30489      0.00      0.00      0.00      0.00      0.00      0.00      0.00

       dweek_95  dweek_96  dweek_97  dweek_98  dweek_99  dweek_100  dweek_101  \
0          0.00      0.00      0.00      0.00      0.00       0.00       0.00
21343      0.00      0.00      0.00      0.00      0.00       0.00       0.00
15245      0.00      0.00      0.00      0.00      0.00       0.00       0.00
12196      0.00      0.00      0.00      0.00      0.00       0.00       0.00
24392      0.00      0.00      0.00      0.00      0.00       0.00       0.00
...         ...       ...       ...       ...       ...        ...        ...
9146       0.00      0.00      0.00      0.00      0.00       0.00       0.00
6097       0.00      0.00      0.00      0.00      0.00       0.00       0.00
3048       0.00      0.00      0.00      0.00      0.00       0.00       0.00
27440      0.00      0.00      0.00      0.00      0.00       0.00       0.00
30489      0.00      0.00      0.00      0.00      0.00       0.00       0.00

       dweek_102  dweek_103  dweek_104  dweek_105  dweek_106  dweek_107  \
0           0.00       0.00       0.00       0.00       0.00       0.00
21343       0.00       0.00       0.00       0.00       0.00       0.00
15245       0.00       0.00       0.00       0.00       0.00       0.00
12196       0.00       0.00       0.00       0.00       0.00       0.00
24392       0.00       0.00       0.00       0.00       0.00       0.00
...          ...        ...        ...        ...        ...        ...
9146        0.00       0.00       0.00       0.00       0.00       0.00
6097        0.00       0.00       0.00       0.00       0.00       0.00
3048        0.00       0.00       0.00       0.00       0.00       0.00
27440       0.00       0.00       0.00       0.00       0.00       0.00
30489       0.00       0.00       0.00       0.00       0.00       0.00

       dweek_108  dweek_109  dweek_110  dweek_111  dweek_112  dweek_113  \
0           0.00       0.00       0.00       0.00       0.00       0.00
21343       0.00       0.00       0.00       0.00       0.00       0.00
15245       0.00       0.00       0.00       0.00       0.00       0.00
12196       0.00       0.00       0.00       0.00       0.00       0.00
24392       0.00       0.00       0.00       0.00       0.00       0.00
...          ...        ...        ...        ...        ...        ...
9146        0.00       0.00       0.00       0.00       0.00       0.00
6097        0.00       0.00       0.00       0.00       0.00       0.00
3048        0.00       0.00       0.00       0.00       0.00       0.00
27440       0.00       0.00       0.00       0.00       0.00       0.00
30489       0.00       0.00       0.00       0.00       0.00       0.00

       dweek_114  dweek_115  dweek_116  dweek_117  dweek_118  dweek_119  \
0           0.00       0.00       0.00       0.00       0.00       0.00
21343       0.00       0.00       0.00       0.00       0.00       0.00
15245       0.00       0.00       0.00       0.00       0.00       0.00
12196       0.00       0.00       0.00       0.00       0.00       0.00
24392       0.00       0.00       0.00       0.00       0.00       0.00
...          ...        ...        ...        ...        ...        ...
9146        0.00       0.00       0.00       0.00       0.00       0.00
6097        0.00       0.00       0.00       0.00       0.00       0.00
3048        0.00       0.00       0.00       0.00       0.00       0.00
27440       0.00       0.00       0.00       0.00       0.00       0.00
30489       0.00       0.00       0.00       0.00       0.00       0.00

       dweek_120  dweek_121  dweek_122  dweek_123  dweek_124  dweek_125  \
0           0.00       0.00       0.00       0.00       0.00       0.00
21343       0.00       0.00       0.00       0.00       0.00       0.00
15245       0.00       0.00       0.00       0.00       0.00       0.00
12196       0.00       0.00       0.00       0.00       0.00       0.00
24392       0.00       0.00       0.00       0.00       0.00       0.00
...          ...        ...        ...        ...        ...        ...
9146        0.00       0.00       0.00       0.00       0.00       0.00
6097        0.00       0.00       0.00       0.00       0.00       0.00
3048        0.00       0.00       0.00       0.00       0.00       0.00
27440       0.00       0.00       0.00       0.00       0.00       0.00
30489       0.00       0.00       0.00       0.00       0.00       0.00

       dweek_126  dweek_127  dweek_128  dweek_129  dweek_130  dweek_131  \
0           0.00       0.00       0.00       0.14       0.00       0.29
21343       0.00       0.00       0.00       0.14       0.00       0.00
15245       0.00       0.00       0.00       0.00       0.00       0.43
12196       0.00       0.00       0.00       0.57       0.43       0.43
24392       0.00       0.00       0.00       0.00       0.00       0.14
...          ...        ...        ...        ...        ...        ...
9146        0.00       0.00       0.00       0.00       0.00       0.00
6097        0.00       0.00       0.00       0.00       0.00       0.00
3048        0.00       0.00       0.00       0.00       0.00       0.00
27440       0.00       0.00       0.00       0.00       0.00       0.00
30489       0.00       0.00       0.00       0.00       0.00       0.00

       dweek_132  dweek_133  dweek_134  dweek_135  dweek_136  dweek_137  \
0           0.29       0.86       0.14       0.29       0.43       0.43
21343       0.00       0.00       0.00       0.00       0.14       0.14
15245       0.14       0.00       0.43       0.14       0.43       0.29
12196       0.14       0.00       0.00       0.29       0.29       0.14
24392       0.14       0.00       0.14       0.00       0.00       0.14
...          ...        ...        ...        ...        ...        ...
9146        0.00       0.00       0.00       0.00       0.00       0.00
6097        0.00       0.00       0.00       0.00       0.00       0.00
3048        0.00       0.00       0.00       0.00       0.00       0.00
27440       0.00       0.00       0.00       0.00       0.00       0.00
30489       0.00       0.00       0.00       0.00       0.00       0.00

       dweek_138  dweek_139  dweek_140  dweek_141  dweek_142  dweek_143  \
0           0.57       0.43       0.57       0.43       0.29       0.43

In [153]:
# Aplicando o merge dos dataframe pela coluna itens

In [154]:
total_linhas_dsales_weekly_sort = dsales_weekly_sort.shape[0]
print(total_linhas_dsales_weekly_sort)

30490

In [155]:
dsales_weekly_sort.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30490 entries, 0 to 30489
Columns: 280 entries, id to dweek_273
dtypes: float64(273), object(7)
memory usage: 65.4+ MB

In [156]:
dsales_weekly_sort.columns

Index(['id', 'item', 'category', 'department', 'store', 'store_code', 'region',
       'dweek_1', 'dweek_2', 'dweek_3',
       ...
       'dweek_264', 'dweek_265', 'dweek_266', 'dweek_267', 'dweek_268',
       'dweek_269', 'dweek_270', 'dweek_271', 'dweek_272', 'dweek_273'],
      dtype='object', length=280)

In [157]:

# Identificar as colunas do tipo float64 no DataFrame
colunas_float64 = dsales_weekly_sort.select_dtypes(include=['float64']).columns

# Converter as colunas de float64 para float16
dsales_weekly_sort[colunas_float64] = dsales_weekly_sort[colunas_float64].astype('float16')

# Verificar o resultado
print(dsales_weekly_sort.dtypes)

id             object
item           object
category       object
department     object
store          object
store_code     object
region         object
dweek_1       float16
dweek_2       float16
dweek_3       float16
dweek_4       float16
dweek_5       float16
dweek_6       float16
dweek_7       float16
dweek_8       float16
dweek_9       float16
dweek_10      float16
dweek_11      float16
dweek_12      float16
dweek_13      float16
dweek_14      float16
dweek_15      float16
dweek_16      float16
dweek_17      float16
dweek_18      float16
dweek_19      float16
dweek_20      float16
dweek_21      float16
dweek_22      float16
dweek_23      float16
dweek_24      float16
dweek_25      float16
dweek_26      float16
dweek_27      float16
dweek_28      float16
dweek_29      float16
dweek_30      float16
dweek_31      float16
dweek_32      float16
dweek_33      float16
dweek_34      float16
dweek_35      float16
dweek_36      float16
dweek_37      float16
dweek_38      float16
dweek_39      float16
dweek_40      float16
dweek_41      float16
dweek_42      float16
dweek_43      float16
dweek_44      float16
dweek_45      float16
dweek_46      float16
dweek_47      float16
dweek_48      float16
dweek_49      float16
dweek_50      float16
dweek_51      float16
dweek_52      float16
dweek_53      float16
dweek_54      float16
dweek_55      float16
dweek_56      float16
dweek_57      float16
dweek_58      float16
dweek_59      float16
dweek_60      float16
dweek_61      float16
dweek_62      float16
dweek_63      float16
dweek_64      float16
dweek_65      float16
dweek_66      float16
dweek_67      float16
dweek_68      float16
dweek_69      float16
dweek_70      float16
dweek_71      float16
dweek_72      float16
dweek_73      float16
dweek_74      float16
dweek_75      float16
dweek_76      float16
dweek_77      float16
dweek_78      float16
dweek_79      float16
dweek_80      float16
dweek_81      float16
dweek_82      float16
dweek_83      float16
dweek_84      float16
dweek_85      float16
dweek_86      float16
dweek_87      float16
dweek_88      float16
dweek_89      float16
dweek_90      float16
dweek_91      float16
dweek_92      float16
dweek_93      float16
dweek_94      float16
dweek_95      float16
dweek_96      float16
dweek_97      float16
dweek_98      float16
dweek_99      float16
dweek_100     float16
dweek_101     float16
dweek_102     float16
dweek_103     float16
dweek_104     float16
dweek_105     float16
dweek_106     float16
dweek_107     float16
dweek_108     float16
dweek_109     float16
dweek_110     float16
dweek_111     float16
dweek_112     float16
dweek_113     float16
dweek_114     float16
dweek_115     float16
dweek_116     float16
dweek_117     float16
dweek_118     float16
dweek_119     float16
dweek_120     float16
dweek_121     float16
dweek_122     float16
dweek_123     float16
dweek_124     float16
dweek_125     float16
dweek_126     float16
dweek_127     float16
dweek_128     float16
dweek_129     float16
dweek_130     float16
dweek_131     float16
dweek_132     float16
dweek_133     float16
dweek_134     float16
dweek_135     float16
dweek_136     float16
dweek_137     float16
dweek_138     float16
dweek_139     float16
dweek_140     float16
dweek_141     float16
dweek_142     float16
dweek_143     float16
dweek_144     float16
dweek_145     float16
dweek_146     float16
dweek_147     float16
dweek_148     float16
dweek_149     float16
dweek_150     float16
dweek_151     float16
dweek_152     float16
dweek_153     float16
dweek_154     float16
dweek_155     float16
dweek_156     float16
dweek_157     float16
dweek_158     float16
dweek_159     float16
dweek_160     float16
dweek_161     float16
dweek_162     float16
dweek_163     float16
dweek_164     float16
dweek_165     float16
dweek_166     float16
dweek_167     float16
dweek_168     float16
dweek_169     float16
dweek_170     float16
dweek_171     float16
dweek_172     float16
dweek_173     float16
dweek_174     float16
dweek_175     float16
dweek_176     float16
dweek_177     float16
dweek_178     float16
dweek_179     float16
dweek_180     float16
dweek_181     float16
dweek_182     float16
dweek_183     float16
dweek_184     float16
dweek_185     float16
dweek_186     float16
dweek_187     float16
dweek_188     float16
dweek_189     float16
dweek_190     float16
dweek_191     float16
dweek_192     float16
dweek_193     float16
dweek_194     float16
dweek_195     float16
dweek_196     float16
dweek_197     float16
dweek_198     float16
dweek_199     float16
dweek_200     float16
dweek_201     float16
dweek_202     float16
dweek_203     float16
dweek_204     float16
dweek_205     float16
dweek_206     float16
dweek_207     float16
dweek_208     float16
dweek_209     float16
dweek_210     float16
dweek_211     float16
dweek_212     float16
dweek_213     float16
dweek_214     float16
dweek_215     float16
dweek_216     float16
dweek_217     float16
dweek_218     float16
dweek_219     float16
dweek_220     float16
dweek_221     float16
dweek_222     float16
dweek_223     float16
dweek_224     float16
dweek_225     float16
dweek_226     float16
dweek_227     float16
dweek_228     float16
dweek_229     float16
dweek_230     float16
dweek_231     float16
dweek_232     float16
dweek_233     float16
dweek_234     float16
dweek_235     float16
dweek_236     float16
dweek_237     float16
dweek_238     float16
dweek_239     float16
dweek_240     float16
dweek_241     float16
dweek_242     float16
dweek_243     float16
dweek_244     float16
dweek_245     float16
dweek_246     float16
dweek_247     float16
dweek_248     float16
dweek_249     float16
dweek_250     float16
dweek_251     float16
dweek_252     float16
dweek_253     float16
dweek_254     float16
dweek_255     float16
dweek_256     float16
dweek_257     float16
dweek_258     float16
dweek_259     float16
dweek_260     float16
dweek_261     float16
dweek_262     float16
dweek_263     float16
dweek_264     float16
dweek_265     float16
dweek_266     float16
dweek_267     float16
dweek_268     float16
dweek_269     float16
dweek_270     float16
dweek_271     float16
dweek_272     float16
dweek_273     float16
dtype: object

In [158]:
#fazendo o melt

In [159]:
import vaex
print(vaex.__version__)

{'vaex': '4.17.0', 'vaex-core': '4.17.1', 'vaex-viz': '0.5.4', 'vaex-hdf5': '0.14.1', 'vaex-server': '0.9.0', 'vaex-astro': '0.9.3', 'vaex-jupyter': '0.8.2', 'vaex-ml': '0.18.3'}

In [160]:
import dask.dataframe as dd
import vaex

In [161]:
import vaex

# Carregar o DataFrame como Vaex
dsales_weekly_sort_vx = vaex.from_pandas(dsales_weekly_sort)

# Converter colunas categóricas para strings (ou 'category' se suportado pelo Vaex)
for col in ['category', 'department', 'store', 'region', 'store_code']:
    dsales_weekly_sort_vx[col] = dsales_weekly_sort_vx[col].astype('string')

# Converter colunas float64 para float32
float_columns = dsales_weekly_sort_vx.get_column_names()  # Obter nomes das colunas
for col in float_columns:
    if dsales_weekly_sort_vx[col].dtype == 'float64':
        dsales_weekly_sort_vx[col] = dsales_weekly_sort_vx[col].astype('float32')  # Vaex não suporta float16

# Criar uma lista para armazenar os DataFrames temporários
melted = []
for week in range(1, 274):
    week_col = f'dweek_{week}'
    if week_col in dsales_weekly_sort_vx.get_column_names():  # Verificar se a coluna existe
        # Selecionar as colunas necessárias
        temp_df = dsales_weekly_sort_vx[['id', 'item', 'category', 'department', 'store', 'store_code', 'region', week_col]]
        
        # Renomear a coluna week_col para 'sales'
        temp_df['sales'] = temp_df[week_col]  # Atribuir os valores da coluna week_col à nova coluna 'sales'
        
        # Adicionar a temp_df à lista melted
        melted.append(temp_df[['id', 'item', 'category', 'department', 'store', 'store_code', 'region', 'sales']])  # Manter as colunas necessárias

# Concatenar todos os DataFrames em um único DataFrame Vaex
dsales_weekly_sort_melt_vx = vaex.concat(melted)

# Verificando o resultado
print(dsales_weekly_sort_melt_vx.head())

  #  id                      item                sales  region        store              category    department    store_code
  0  ACCESORIES_1_001_NYC_1  ACCESORIES_1_001        0  New York      Greenwich_Village  ACCESORIES  ACCESORIES_1  NYC_1
  1  ACCESORIES_1_001_PHI_1  ACCESORIES_1_001        0  Philadelphia  Midtown_Village    ACCESORIES  ACCESORIES_1  PHI_1
  2  ACCESORIES_1_001_BOS_2  ACCESORIES_1_001        0  Boston        Roxbury            ACCESORIES  ACCESORIES_1  BOS_2
  3  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001        0  Boston        South_End          ACCESORIES  ACCESORIES_1  BOS_1
  4  ACCESORIES_1_001_PHI_2  ACCESORIES_1_001        0  Philadelphia  Yorktown           ACCESORIES  ACCESORIES_1  PHI_2
  5  ACCESORIES_1_001_BOS_3  ACCESORIES_1_001        0  Boston        Back_Bay           ACCESORIES  ACCESORIES_1  BOS_3
  6  ACCESORIES_1_001_NYC_2  ACCESORIES_1_001        0  New York      Harlem             ACCESORIES  ACCESORIES_1  NYC_2
  7  ACCESORIES_1_001_NYC_4  ACCESORIES_1_001        0  New York      Brooklyn           ACCESORIES  ACCESORIES_1  NYC_4
  8  ACCESORIES_1_001_NYC_3  ACCESORIES_1_001        0  New York      Tribeca            ACCESORIES  ACCESORIES_1  NYC_3
  9  ACCESORIES_1_001_PHI_3  ACCESORIES_1_001        0  Philadelphia  Queen_Village      ACCESORIES  ACCESORIES_1  PHI_3

In [162]:
dsales_weekly_sort_melt_vx.info()

In [163]:
 # Verificar o total de linhas no DataFrame dsales_weekly_sort
total_linhas_dsales_weekly_sort_melt_vx = len(dsales_weekly_sort_melt_vx)
print(f"Total de linhas em dsales_weekly_sort: {total_linhas_dsales_weekly_sort_melt_vx}")  #8323770

Total de linhas em dsales_weekly_sort: 8323770

In [164]:
import vaex

# Carregar o DataFrame como Vaex
dsales_weekly_sort_vx = vaex.from_pandas(dsales_weekly_sort)

# Converter colunas categóricas para string
categorical_cols = ['category', 'department', 'store', 'region', 'store_code']
for col in categorical_cols:
    dsales_weekly_sort_vx[col] = dsales_weekly_sort_vx[col].astype('string')

# Converter colunas float64 para float32
float_columns = dsales_weekly_sort_vx.get_column_names()  # Obter nomes das colunas
for col in float_columns:
    if dsales_weekly_sort_vx[col].dtype == 'float64':
        dsales_weekly_sort_vx[col] = dsales_weekly_sort_vx[col].astype('float32')  # Convertendo para float32

# Criar uma lista para armazenar os DataFrames temporários
melted = []
for week in range(1, 274):
    week_col = f'dweek_{week}'
    if week_col in dsales_weekly_sort_vx.get_column_names():  # Verificar se a coluna existe
        # Selecionar as colunas necessárias
        temp_df = dsales_weekly_sort_vx[['id', 'item', 'department', 'store', 'store_code', 'region', week_col]].copy()
        
        # Renomear a coluna week_col para 'sales' e adicionar uma nova coluna 'week'
        temp_df['sales'] = temp_df[week_col]  # Atribuir os valores da coluna week_col à nova coluna 'sales'
        temp_df['week'] = week_col  # Adicionar a nova coluna 'week' com o nome da semana
        
        # Manter apenas as colunas necessárias e adicionar à lista melted
        melted.append(temp_df[['id', 'item', 'department', 'store', 'store_code', 'region', 'week', 'sales']])

# Concatenar todos os DataFrames em um único DataFrame Vaex
dsales_weekly_sort_melt_vx = vaex.concat(melted)

# Ajustar tipos de dados finais para os menores tipos possíveis
dsales_weekly_sort_melt_vx['sales'] = dsales_weekly_sort_melt_vx['sales'].astype('float32')  # float32 como menor tipo

# Verificando os tipos de dados finais
dsales_weekly_sort_melt_vx['id'] = dsales_weekly_sort_melt_vx['id'].astype('string')  # String para ID
dsales_weekly_sort_melt_vx['item'] = dsales_weekly_sort_melt_vx['item'].astype('string')  # String para item

# Verificando a estrutura final
print(dsales_weekly_sort_melt_vx.dtypes)

# Verificando o resultado
print(dsales_weekly_sort_melt_vx.head())

id             string
item           string
week          float16
sales         float32
region         string
store          string
department     string
store_code     string
dtype: object
  #  id                      item                week    sales  region        store              department    store_code
  0  ACCESORIES_1_001_NYC_1  ACCESORIES_1_001       0        0  New York      Greenwich_Village  ACCESORIES_1  NYC_1
  1  ACCESORIES_1_001_PHI_1  ACCESORIES_1_001       0        0  Philadelphia  Midtown_Village    ACCESORIES_1  PHI_1
  2  ACCESORIES_1_001_BOS_2  ACCESORIES_1_001       0        0  Boston        Roxbury            ACCESORIES_1  BOS_2
  3  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001       0        0  Boston        South_End          ACCESORIES_1  BOS_1
  4  ACCESORIES_1_001_PHI_2  ACCESORIES_1_001       0        0  Philadelphia  Yorktown           ACCESORIES_1  PHI_2
  5  ACCESORIES_1_001_BOS_3  ACCESORIES_1_001       0        0  Boston        Back_Bay           ACCESORIES_1  BOS_3
  6  ACCESORIES_1_001_NYC_2  ACCESORIES_1_001       0        0  New York      Harlem             ACCESORIES_1  NYC_2
  7  ACCESORIES_1_001_NYC_4  ACCESORIES_1_001       0        0  New York      Brooklyn           ACCESORIES_1  NYC_4
  8  ACCESORIES_1_001_NYC_3  ACCESORIES_1_001       0        0  New York      Tribeca            ACCESORIES_1  NYC_3
  9  ACCESORIES_1_001_PHI_3  ACCESORIES_1_001       0        0  Philadelphia  Queen_Village      ACCESORIES_1  PHI_3

In [165]:
import vaex

# Carregar o DataFrame como Vaex
dsales_weekly_sort_vx = vaex.from_pandas(dsales_weekly_sort)

# Converter colunas categóricas para string (já que Vaex não suporta 'category')
categorical_columns = ['category', 'department', 'store', 'region', 'store_code']
for col in categorical_columns:
    dsales_weekly_sort_vx[col] = dsales_weekly_sort_vx[col].astype('string')

# Converter colunas float64 para float32
float_columns = dsales_weekly_sort_vx.column_names
for col in float_columns:
    if dsales_weekly_sort_vx[col].dtype == 'float64':
        dsales_weekly_sort_vx[col] = dsales_weekly_sort_vx[col].astype('float32')  # Vaex não suporta float16

# Criar uma lista para armazenar os DataFrames temporários
melted = []
for week in range(1, 274):
    week_col = f'dweek_{week}'
    if week_col in dsales_weekly_sort_vx.column_names:  # Verificar se a coluna existe
        # Selecionar as colunas necessárias
        temp_df = dsales_weekly_sort_vx[['id', 'item', 'department', 'store', 'store_code', 'region', week_col]]
        
        # Renomear a coluna week_col para sales
        temp_df['sales'] = temp_df[week_col]  # Adiciona a coluna de vendas
        temp_df = temp_df.drop(columns=[week_col])  # Remove a coluna original

        # Adicionar a temp_df à lista melted
        melted.append(temp_df)

# Concatenar todos os DataFrames em um único DataFrame
dsales_weekly_sort_melt_vx = vaex.concat(melted)

# Ajustar o tipo da coluna 'week' (pode ser ajustado conforme a sua necessidade)
# Como você mencionou que 'week' deve estar presente, você pode precisar adicioná-lo aqui

# Exibir os tipos de dados
print(dsales_weekly_sort_melt_vx.dtypes)

# Verificando o resultado
print(dsales_weekly_sort_melt_vx.head())

id             string
item           string
sales         float16
store_code     string
department     string
region         string
store          string
dtype: object
  #  id                      item                sales  store_code    department    region        store
  0  ACCESORIES_1_001_NYC_1  ACCESORIES_1_001        0  NYC_1         ACCESORIES_1  New York      Greenwich_Village
  1  ACCESORIES_1_001_PHI_1  ACCESORIES_1_001        0  PHI_1         ACCESORIES_1  Philadelphia  Midtown_Village
  2  ACCESORIES_1_001_BOS_2  ACCESORIES_1_001        0  BOS_2         ACCESORIES_1  Boston        Roxbury
  3  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001        0  BOS_1         ACCESORIES_1  Boston        South_End
  4  ACCESORIES_1_001_PHI_2  ACCESORIES_1_001        0  PHI_2         ACCESORIES_1  Philadelphia  Yorktown
  5  ACCESORIES_1_001_BOS_3  ACCESORIES_1_001        0  BOS_3         ACCESORIES_1  Boston        Back_Bay
  6  ACCESORIES_1_001_NYC_2  ACCESORIES_1_001        0  NYC_2         ACCESORIES_1  New York      Harlem
  7  ACCESORIES_1_001_NYC_4  ACCESORIES_1_001        0  NYC_4         ACCESORIES_1  New York      Brooklyn
  8  ACCESORIES_1_001_NYC_3  ACCESORIES_1_001        0  NYC_3         ACCESORIES_1  New York      Tribeca
  9  ACCESORIES_1_001_PHI_3  ACCESORIES_1_001        0  PHI_3         ACCESORIES_1  Philadelphia  Queen_Village

In [166]:
import vaex

# Carregar o DataFrame como Vaex
dsales_weekly_sort_vx = vaex.from_pandas(dsales_weekly_sort)

# Converter colunas categóricas para string (já que Vaex não suporta 'category')
categorical_columns = ['category', 'department', 'store', 'region', 'store_code']
for col in categorical_columns:
    dsales_weekly_sort_vx[col] = dsales_weekly_sort_vx[col].astype('string')

# Converter colunas float64 para float32
float_columns = dsales_weekly_sort_vx.column_names
for col in float_columns:
    if dsales_weekly_sort_vx[col].dtype == 'float64':
        dsales_weekly_sort_vx[col] = dsales_weekly_sort_vx[col].astype('float32')  # Vaex não suporta float16

# Criar uma lista para armazenar os DataFrames temporários
melted = []
for week in range(1, 274):
    week_col = f'dweek_{week}'
    if week_col in dsales_weekly_sort_vx.column_names:  # Verificar se a coluna existe
        # Selecionar as colunas necessárias
        temp_df = dsales_weekly_sort_vx[['id', 'item', 'department', 'category','store', 'store_code', 'region', week_col]]
        
        # Adicionar a coluna de vendas
        temp_df['sales'] = temp_df[week_col]  # Cria a coluna 'sales' com os valores de 'week_col'
        
        # Adicionar a coluna 'week' com o nome da semana
        temp_df['week'] = week_col  # Cria a coluna 'week' com o nome da coluna de vendas

        # Remover a coluna original de vendas
        temp_df = temp_df.drop(columns=[week_col])  # Remove a coluna original

        # Adicionar o DataFrame temporário à lista melted
        melted.append(temp_df)

# Concatenar todos os DataFrames em um único DataFrame
if melted:
    dsales_weekly_sort_melt_vx = vaex.concat(melted)
else:
    print("Nenhuma coluna de vendas foi encontrada para derreter.")

# Exibir os tipos de dados
print(dsales_weekly_sort_melt_vx.dtypes)

# Verificando o resultado
print(dsales_weekly_sort_melt_vx.head())

id             string
item           string
sales         float16
week          float16
region         string
store          string
category       string
department     string
store_code     string
dtype: object
  #  id                      item                sales    week  region        store              category    department    store_code
  0  ACCESORIES_1_001_NYC_1  ACCESORIES_1_001        0       0  New York      Greenwich_Village  ACCESORIES  ACCESORIES_1  NYC_1
  1  ACCESORIES_1_001_PHI_1  ACCESORIES_1_001        0       0  Philadelphia  Midtown_Village    ACCESORIES  ACCESORIES_1  PHI_1
  2  ACCESORIES_1_001_BOS_2  ACCESORIES_1_001        0       0  Boston        Roxbury            ACCESORIES  ACCESORIES_1  BOS_2
  3  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001        0       0  Boston        South_End          ACCESORIES  ACCESORIES_1  BOS_1
  4  ACCESORIES_1_001_PHI_2  ACCESORIES_1_001        0       0  Philadelphia  Yorktown           ACCESORIES  ACCESORIES_1  PHI_2
  5  ACCESORIES_1_001_BOS_3  ACCESORIES_1_001        0       0  Boston        Back_Bay           ACCESORIES  ACCESORIES_1  BOS_3
  6  ACCESORIES_1_001_NYC_2  ACCESORIES_1_001        0       0  New York      Harlem             ACCESORIES  ACCESORIES_1  NYC_2
  7  ACCESORIES_1_001_NYC_4  ACCESORIES_1_001        0       0  New York      Brooklyn           ACCESORIES  ACCESORIES_1  NYC_4
  8  ACCESORIES_1_001_NYC_3  ACCESORIES_1_001        0       0  New York      Tribeca            ACCESORIES  ACCESORIES_1  NYC_3
  9  ACCESORIES_1_001_PHI_3  ACCESORIES_1_001        0       0  Philadelphia  Queen_Village      ACCESORIES  ACCESORIES_1  PHI_3

In [167]:
import pandas as pd

# Exemplo: Carregando o DataFrame (substitua pelo seu DataFrame real)
# dsales_weekly_sort = pd.read_csv('seu_arquivo.csv')

# Usando o método melt do Pandas para transformar colunas dweek em linhas
dsales_weekly_sort_melt = pd.melt(dsales_weekly_sort, 
                                   id_vars=['id', 'item', 'category', 'department', 'store', 'store_code', 'region'], 
                                   value_vars=[f'dweek_{i}' for i in range(1, 274)], 
                                   var_name='week', 
                                   value_name='sales')

# Ajustar o tipo da coluna 'week' para string
dsales_weekly_sort_melt['week'] = dsales_weekly_sort_melt['week'].astype(str)

# Exibir os tipos de dados
print(dsales_weekly_sort_melt.dtypes)

# Verificando o resultado
print(dsales_weekly_sort_melt.head())

id             object
item           object
category       object
department     object
store          object
store_code     object
region         object
week           object
sales         float16
dtype: object
                       id              item    category    department  \
0  ACCESORIES_1_001_NYC_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
1  ACCESORIES_1_001_PHI_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
2  ACCESORIES_1_001_BOS_2  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
3  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
4  ACCESORIES_1_001_PHI_2  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1

               store store_code        region     week  sales
0  Greenwich_Village      NYC_1      New York  dweek_1   0.00
1    Midtown_Village      PHI_1  Philadelphia  dweek_1   0.00
2            Roxbury      BOS_2        Boston  dweek_1   0.00
3          South_End      BOS_1        Boston  dweek_1   0.00
4           Yorktown      PHI_2  Philadelphia  dweek_1   0.00

In [168]:
dsales_weekly_sort_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8323770 entries, 0 to 8323769
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   id          object
 1   item        object
 2   category    object
 3   department  object
 4   store       object
 5   store_code  object
 6   region      object
 7   week        object
 8   sales       float16
dtypes: float16(1), object(8)
memory usage: 523.9+ MB

In [169]:
 # Verificar o total de linhas no DataFrame dsales_weekly_sort
total_linhas_dsales_weekly_sort_melt = len(dsales_weekly_sort_melt)
print(f"Total de linhas em dsales_weekly_sort: {total_linhas_dsales_weekly_sort_melt}")

Total de linhas em dsales_weekly_sort: 8323770

In [170]:
# Verificando duplicatas
print(dsales_weekly_sort_melt[['item', 'category', 'department', 'store_code', 'region', 'week']].duplicated().sum())

0

In [172]:
df_merged_prices_cevents_sort.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7358227 entries, 0 to 1449053
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   item         object
 1   category     object
 2   store_code   object
 3   yearweek     object
 4   sell_price   float16
 5   year         object
 6   event        object
 7   date         datetime64[ns]
 8   weekday      object
 9   weekday_int  float64
dtypes: datetime64[ns](1), float16(1), float64(1), object(7)
memory usage: 575.4+ MB

In [173]:
# Realizando o derretimento do DataFrame
dsales_weekly_sort_melt = pd.melt(dsales_weekly_sort, 
                                   id_vars=['id', 'item', 'category', 'department', 'store', 'store_code', 'region'], 
                                   value_vars=[f'dweek_{i}' for i in range(1, 274)], 
                                   var_name='week', 
                                   value_name='sales')

# Ajustar o tipo da coluna 'week' para string
dsales_weekly_sort_melt['week'] = dsales_weekly_sort_melt['week'].astype(str)

# Ordenar o DataFrame derretido
dsales_weekly_sort_melt = dsales_weekly_sort_melt.sort_values(by=['item', 'category','store_code']).reset_index(drop=True)     

# Exibir os tipos de dados
print(dsales_weekly_sort_melt.dtypes)

# Verificando o resultado
print(dsales_weekly_sort_melt.head())

id             object
item           object
category       object
department     object
store          object
store_code     object
region         object
week           object
sales         float16
dtype: object
                       id              item    category    department  \
0  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
1  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
2  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
3  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
4  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1

       store store_code  region     week  sales
0  South_End      BOS_1  Boston  dweek_1   0.00
1  South_End      BOS_1  Boston  dweek_2   0.00
2  South_End      BOS_1  Boston  dweek_3   0.00
3  South_End      BOS_1  Boston  dweek_4   0.00
4  South_End      BOS_1  Boston  dweek_5   0.00

In [174]:
total_linhas_ddsales_weekly_sort_melt = dsales_weekly_sort_melt.shape[0]
print(dsales_weekly_sort_melt)

                              id               item     category  \
0         ACCESORIES_1_001_BOS_1   ACCESORIES_1_001   ACCESORIES
1         ACCESORIES_1_001_BOS_1   ACCESORIES_1_001   ACCESORIES
2         ACCESORIES_1_001_BOS_1   ACCESORIES_1_001   ACCESORIES
3         ACCESORIES_1_001_BOS_1   ACCESORIES_1_001   ACCESORIES
4         ACCESORIES_1_001_BOS_1   ACCESORIES_1_001   ACCESORIES
...                          ...                ...          ...
8323765  SUPERMARKET_3_827_PHI_3  SUPERMARKET_3_827  SUPERMARKET
8323766  SUPERMARKET_3_827_PHI_3  SUPERMARKET_3_827  SUPERMARKET
8323767  SUPERMARKET_3_827_PHI_3  SUPERMARKET_3_827  SUPERMARKET
8323768  SUPERMARKET_3_827_PHI_3  SUPERMARKET_3_827  SUPERMARKET
8323769  SUPERMARKET_3_827_PHI_3  SUPERMARKET_3_827  SUPERMARKET

            department          store store_code        region       week  \
0         ACCESORIES_1      South_End      BOS_1        Boston    dweek_1
1         ACCESORIES_1      South_End      BOS_1        Boston    dweek_2
2         ACCESORIES_1      South_End      BOS_1        Boston    dweek_3
3         ACCESORIES_1      South_End      BOS_1        Boston    dweek_4
4         ACCESORIES_1      South_End      BOS_1        Boston    dweek_5
...                ...            ...        ...           ...        ...
8323765  SUPERMARKET_3  Queen_Village      PHI_3  Philadelphia  dweek_269
8323766  SUPERMARKET_3  Queen_Village      PHI_3  Philadelphia  dweek_270
8323767  SUPERMARKET_3  Queen_Village      PHI_3  Philadelphia  dweek_271
8323768  SUPERMARKET_3  Queen_Village      PHI_3  Philadelphia  dweek_272
8323769  SUPERMARKET_3  Queen_Village      PHI_3  Philadelphia  dweek_273

         sales
0         0.00
1         0.00
2         0.00
3         0.00
4         0.00
...        ...
8323765   2.43
8323766   3.29
8323767   1.57
8323768   0.14
8323769   0.00

[8323770 rows x 9 columns]

In [175]:
# Ordenando o DataFrame 'df_merged_prices_cevents' pela coluna 'item' em ordem ascendente
df_merged_prices_cevents_sort = df_merged_prices_cevents.sort_values(by=['item', 'category','store_code'], ascending= True)

# Exibindo o DataFrame ordenado
print(df_merged_prices_cevents_sort)

                      item     category store_code yearweek  sell_price  \
0         ACCESORIES_1_001   ACCESORIES      BOS_1   190000       10.98
31800     ACCESORIES_1_001   ACCESORIES      BOS_1   201328       12.74
31801     ACCESORIES_1_001   ACCESORIES      BOS_1   201328       12.74
81062     ACCESORIES_1_001   ACCESORIES      BOS_1   201329       10.98
105802    ACCESORIES_1_001   ACCESORIES      BOS_1   201330       10.98
...                    ...          ...        ...      ...         ...
4587264  SUPERMARKET_3_827  SUPERMARKET      PHI_3   201613        1.20
4617754  SUPERMARKET_3_827  SUPERMARKET      PHI_3   201614        1.20
4648244  SUPERMARKET_3_827  SUPERMARKET      PHI_3   201615        1.20
4678734  SUPERMARKET_3_827  SUPERMARKET      PHI_3   201616        1.20
4709224  SUPERMARKET_3_827  SUPERMARKET      PHI_3   201617        1.20

            year            event       date  weekday  weekday_int
0           1900  Evento Sem Item 1900-01-01        0         0.00
31800   2,013.00  Sem Inoformação 2013-07-08   Monday         3.00
31801   2,013.00   Ramadan starts 2013-07-09  Tuesday         4.00
81062   2,013.00  Sem Inoformação 2013-07-15   Monday         3.00
105802  2,013.00  Sem Inoformação 2013-07-22   Monday         3.00
...          ...              ...        ...      ...          ...
4587264 2,016.00  Sem Inoformação 2016-03-28   Monday         3.00
4617754 2,016.00  Sem Inoformação 2016-04-04   Monday         3.00
4648244 2,016.00  Sem Inoformação 2016-04-11   Monday         3.00
4678734 2,016.00  Sem Inoformação 2016-04-18   Monday         3.00
4709224     2016  Evento Sem Item 1900-01-01        0         0.00

[7358227 rows x 10 columns]

In [176]:
# fazendo o merge entre os dois dataframe

In [177]:
df_merged_prices_cevents_sort.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7358227 entries, 0 to 4709224
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   item         object
 1   category     object
 2   store_code   object
 3   yearweek     object
 4   sell_price   float16
 5   year         object
 6   event        object
 7   date         datetime64[ns]
 8   weekday      object
 9   weekday_int  float64
dtypes: datetime64[ns](1), float16(1), float64(1), object(7)
memory usage: 575.4+ MB

In [178]:
df_merged_prices_cevents_sort.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7358227 entries, 0 to 4709224
Data columns (total 10 columns):
 #   Column       Dtype
---  ------       -----
 0   item         object
 1   category     object
 2   store_code   object
 3   yearweek     object
 4   sell_price   float16
 5   year         object
 6   event        object
 7   date         datetime64[ns]
 8   weekday      object
 9   weekday_int  float64
dtypes: datetime64[ns](1), float16(1), float64(1), object(7)
memory usage: 575.4+ MB

In [179]:
import dask
print(dask.__version__)

2.11.0

In [180]:
import dask.dataframe as dd

In [ ]:
import dask.dataframe as dd
from dask.distributed import Client

# Iniciar um cliente Dask
client = Client()

# Converter DataFrames do Pandas para Dask DataFrames
dsales_weekly_sort_melt_dd = dd.from_pandas(dsales_weekly_sort_melt, npartitions=20)
df_merged_prices_cevents_sort_dd = dd.from_pandas(df_merged_prices_cevents_sort, npartitions=20)

# Ajustar tipos de dados para otimizar a memória
dsales_weekly_sort_melt_dd['category'] = dsales_weekly_sort_melt_dd['category'].astype('category')
df_merged_prices_cevents_sort_dd['category'] = df_merged_prices_cevents_sort_dd['category'].astype('category')

# Persistir o DataFrame de vendas se necessário
dsales_weekly_sort_melt_dd = dsales_weekly_sort_melt_dd.persist()

# Verificar colunas antes de dividir
print("Colunas no DataFrame dsales:", dsales_weekly_sort_melt_dd.columns)

# Dividir o DataFrame de preços em partes
df_parts = df_merged_prices_cevents_sort_dd.to_delayed()
df_final_list = []

# Iterar pelas partes para fazer o merge
for i, part in enumerate(df_parts):
    # Convertendo 'part' para um Dask DataFrame
    part_dd = dd.from_delayed(part)
    
    # Verificar colunas do DataFrame 'part' (apenas para a primeira parte)
    if i == 0:
        print("Colunas no DataFrame part:", part_dd.columns)

    # Realizar o merge
    df_temp = dd.merge(dsales_weekly_sort_melt_dd, part_dd, 
                       on=['item', 'category', 'store_code'], 
                       how='left')
    df_final_list.append(df_temp)

# Concatenar os resultados
df_final_dd = dd.concat(df_final_list, axis=0)

# Converter o resultado de volta para pandas
df_final = df_final_dd.compute()

# Verificar o resultado
print(df_final.head())

In [183]:
from dask.distributed import Client

# Criar o cliente Dask com limite de memória
client = Client(memory_limit='2GB')  # Ajuste o limite conforme sua máquina

In [184]:
# Tente um número menor de partições
n_partitions = 20  # ajuste conforme necessário
dsales_weekly_sort_melt_dd = dd.from_pandas(dsales_weekly_sort_melt, npartitions=n_partitions)
df_merged_prices_cevents_sort_dd = dd.from_pandas(df_merged_prices_cevents_sort, npartitions=n_partitions)

In [185]:
# Dividir manualmente o DataFrame em partes menores
dsales_parts = [dsales_weekly_sort_melt.iloc[i:i + 10000] for i in range(0, len(dsales_weekly_sort_melt), 10000)]
df_merged_parts = [df_merged_prices_cevents_sort.iloc[i:i + 10000] for i in range(0, len(df_merged_prices_cevents_sort), 10000)]

# Converter cada parte em um Dask DataFrame
dsales_dd_parts = [dd.from_pandas(part, npartitions=1) for part in dsales_parts]
df_merged_dd_parts = [dd.from_pandas(part, npartitions=1) for part in df_merged_parts]

In [186]:
# Antes de converter para Dask, otimize os tipos de dados
dsales_weekly_sort_melt['category'] = dsales_weekly_sort_melt['category'].astype('category')
df_merged_prices_cevents_sort['category'] = df_merged_prices_cevents_sort['category'].astype('category')

In [187]:
# Exemplo de merge e persistir o resultado
df_final_list = []
for part in df_merged_dd_parts:
    df_temp = dd.merge(dsales_dd_parts[0], part, on=['item', 'category', 'store_code'], how='left')
    df_final_list.append(df_temp.persist())

In [190]:
df_temp

Dask DataFrame Structure:
                   id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
npartitions=1
               object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                  ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
Dask Name: merge, 3 tasks

In [191]:
df_final_list

[Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,
 Dask DataFrame Structure:
                    id    item category department   store store_code  region    week    sales yearweek sell_price    year   event            date weekday weekday_int
 npartitions=1
                object  object   object     object  object     object  object  object  float16   object    float16  object  object  datetime64[ns]  object     float64
                   ...     ...      ...        ...     ...        ...     ...     ...      ...      ...        ...     ...     ...             ...     ...         ...
 Dask Name: merge, 1 tasks,

In [192]:
import dask.dataframe as dd

# Supondo que df_final_list seja sua lista de DataFrames Dask
df_final_dd = dd.concat(df_final_list)  # Concatena todos os DataFrames persistidos em um único DataFrame Dask

# Computa e converte para um DataFrame Pandas
df_final = df_final_dd.compute()

# Exibe o DataFrame final
print(df_final)

                          id              item    category    department  \
0     ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
1     ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
2     ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
3     ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
4     ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
...                      ...               ...         ...           ...
9995  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9996  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9997  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9998  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9999  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1

          store store_code    region       week  sales yearweek  sell_price  \
0     South_End      BOS_1    Boston    dweek_1   0.00   190000       10.98
1     South_End      BOS_1    Boston    dweek_1   0.00   201328       12.74
2     South_End      BOS_1    Boston    dweek_1   0.00   201328       12.74
3     South_End      BOS_1    Boston    dweek_1   0.00   201329       10.98
4     South_End      BOS_1    Boston    dweek_1   0.00   201330       10.98
...         ...        ...       ...        ...    ...      ...         ...
9995   Brooklyn      NYC_4  New York  dweek_168   1.00      NaN         NaN
9996   Brooklyn      NYC_4  New York  dweek_169   0.71      NaN         NaN
9997   Brooklyn      NYC_4  New York  dweek_170   0.86      NaN         NaN
9998   Brooklyn      NYC_4  New York  dweek_171   0.43      NaN         NaN
9999   Brooklyn      NYC_4  New York  dweek_172   1.14      NaN         NaN

         year            event       date  weekday  weekday_int
0        1900  Evento Sem Item 1900-01-01        0         0.00
1    2,013.00  Sem Inoformação 2013-07-08   Monday         3.00
2    2,013.00   Ramadan starts 2013-07-09  Tuesday         4.00
3    2,013.00  Sem Inoformação 2013-07-15   Monday         3.00
4    2,013.00  Sem Inoformação 2013-07-22   Monday         3.00
...       ...              ...        ...      ...          ...
9995      NaN              NaN        NaT      NaN          NaN
9996      NaN              NaN        NaT      NaN          NaN
9997      NaN              NaN        NaT      NaN          NaN
9998      NaN              NaN        NaT      NaN          NaN
9999      NaN              NaN        NaT      NaN          NaN

[9482174 rows x 16 columns]

In [194]:
print(df_final.head(25))  # Exibe as 5 primeiras linhas

                        id              item    category    department  \
0   ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
1   ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
2   ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
3   ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
4   ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
5   ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
6   ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
7   ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
8   ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
9   ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
10  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
11  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
12  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
13  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
14  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
15  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
16  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
17  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
18  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
19  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
20  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
21  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
22  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
23  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1
24  ACCESORIES_1_001_BOS_1  ACCESORIES_1_001  ACCESORIES  ACCESORIES_1

        store store_code  region     week  sales yearweek  sell_price  \
0   South_End      BOS_1  Boston  dweek_1   0.00   190000       10.98
1   South_End      BOS_1  Boston  dweek_1   0.00   201328       12.74
2   South_End      BOS_1  Boston  dweek_1   0.00   201328       12.74
3   South_End      BOS_1  Boston  dweek_1   0.00   201329       10.98
4   South_End      BOS_1  Boston  dweek_1   0.00   201330       10.98
5   South_End      BOS_1  Boston  dweek_1   0.00   201331       10.98
6   South_End      BOS_1  Boston  dweek_1   0.00   201332       10.98
7   South_End      BOS_1  Boston  dweek_1   0.00   201333       10.98
8   South_End      BOS_1  Boston  dweek_1   0.00   201334       10.98
9   South_End      BOS_1  Boston  dweek_1   0.00   201335       10.98
10  South_End      BOS_1  Boston  dweek_1   0.00   201336       10.98
11  South_End      BOS_1  Boston  dweek_1   0.00   201337       10.98
12  South_End      BOS_1  Boston  dweek_1   0.00   201338       10.98
13  South_End      BOS_1  Boston  dweek_1   0.00   201339       10.98
14  South_End      BOS_1  Boston  dweek_1   0.00   201340       10.98
15  South_End      BOS_1  Boston  dweek_1   0.00   201341       10.98
16  South_End      BOS_1  Boston  dweek_1   0.00   201342       10.98
17  South_End      BOS_1  Boston  dweek_1   0.00   201343       10.98
18  South_End      BOS_1  Boston  dweek_1   0.00   201344       10.98
19  South_End      BOS_1  Boston  dweek_1   0.00   201345       10.98
20  South_End      BOS_1  Boston  dweek_1   0.00   201346       10.98
21  South_End      BOS_1  Boston  dweek_1   0.00   201347       10.98
22  South_End      BOS_1  Boston  dweek_1   0.00   201348       10.98
23  South_End      BOS_1  Boston  dweek_1   0.00   201348       10.98
24  South_End      BOS_1  Boston  dweek_1   0.00   201349       10.98

       year            event       date   weekday  weekday_int
0      1900  Evento Sem Item 1900-01-01         0         0.00
1  2,013.00  Sem Inoformação 2013-07-08    Monday         3.00
2  2,013.00   Ramadan starts 2013-07-09   Tuesday         4.00
3  2,013.00  Sem Inoformação 2013-07-15    Monday         3.00
4  2,013.00  Sem Inoformação 2013-07-22    Monday         3.00
5  2,013.00  Sem Inoformação 2013-07-29    Monday         3.00
6  2,013.00  Sem Inoformação 2013-08-05    Monday         3.00
7  2,013.00  Sem Inoformação 2013-08-12    Monday         3.00
8  2,013.00  Sem Inoformação 2013-08-19    Monday         3.00
9  2,013.00  Sem Inoformação 2013-08-26    Monday         3.00
10 2,013.00  Sem Inoformação 2013-09-02    Monday         3.00
11 2,013.00  Sem Inoformação 2013-09-09    Monday         3.00
12 2,013.00  Sem Inoformação 2013-09-16    Monday         3.00
13 2,013.00  Sem Inoformação 2013-09-23    Monday         3.00
14 2,013.00  Sem Inoformação 2013-09-30    Monday         3.00
15 2,013.00  Sem Inoformação 2013-10-07    Monday         3.00
16 2,013.00  Sem Inoformação 2013-10-14    Monday         3.00
17 2,013.00  Sem Inoformação 2013-10-21    Monday         3.00
18 2,013.00  Sem Inoformação 2013-10-28    Monday         3.00
19 2,013.00  Sem Inoformação 2013-11-04    Monday         3.00
20 2,013.00  Sem Inoformação 2013-11-11    Monday         3.00
21 2,013.00  Sem Inoformação 2013-11-18    Monday         3.00
22 2,013.00  Sem Inoformação 2013-11-25    Monday         3.00
23 2,013.00     Thanksgiving 2013-11-28  Thursday         6.00
24 2,013.00  Sem Inoformação 2013-12-02    Monday         3.00

In [195]:
print(df_final.tail(25))  # Exibe as 5 primeiras linhas

                          id              item    category    department  \
9975  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9976  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9977  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9978  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9979  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9980  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9981  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9982  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9983  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9984  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9985  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9986  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9987  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9988  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9989  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9990  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9991  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9992  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9993  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9994  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9995  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9996  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9997  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9998  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1
9999  ACCESORIES_1_004_NYC_4  ACCESORIES_1_004  ACCESORIES  ACCESORIES_1

         store store_code    region       week  sales yearweek  sell_price  \
9975  Brooklyn      NYC_4  New York  dweek_148   1.14      NaN         NaN
9976  Brooklyn      NYC_4  New York  dweek_149   2.00      NaN         NaN
9977  Brooklyn      NYC_4  New York  dweek_150   1.00      NaN         NaN
9978  Brooklyn      NYC_4  New York  dweek_151   0.43      NaN         NaN
9979  Brooklyn      NYC_4  New York  dweek_152   0.43      NaN         NaN
9980  Brooklyn      NYC_4  New York  dweek_153   1.43      NaN         NaN
9981  Brooklyn      NYC_4  New York  dweek_154   0.86      NaN         NaN
9982  Brooklyn      NYC_4  New York  dweek_155   0.71      NaN         NaN
9983  Brooklyn      NYC_4  New York  dweek_156   0.71      NaN         NaN
9984  Brooklyn      NYC_4  New York  dweek_157   1.14      NaN         NaN
9985  Brooklyn      NYC_4  New York  dweek_158   1.14      NaN         NaN
9986  Brooklyn      NYC_4  New York  dweek_159   1.43      NaN         NaN
9987  Brooklyn      NYC_4  New York  dweek_160   0.57      NaN         NaN
9988  Brooklyn      NYC_4  New York  dweek_161   0.43      NaN         NaN
9989  Brooklyn      NYC_4  New York  dweek_162   0.57      NaN         NaN
9990  Brooklyn      NYC_4  New York  dweek_163   1.14      NaN         NaN
9991  Brooklyn      NYC_4  New York  dweek_164   1.57      NaN         NaN
9992  Brooklyn      NYC_4  New York  dweek_165   1.29      NaN         NaN
9993  Brooklyn      NYC_4  New York  dweek_166   1.14      NaN         NaN
9994  Brooklyn      NYC_4  New York  dweek_167   0.43      NaN         NaN
9995  Brooklyn      NYC_4  New York  dweek_168   1.00      NaN         NaN
9996  Brooklyn      NYC_4  New York  dweek_169   0.71      NaN         NaN
9997  Brooklyn      NYC_4  New York  dweek_170   0.86      NaN         NaN
9998  Brooklyn      NYC_4  New York  dweek_171   0.43      NaN         NaN
9999  Brooklyn      NYC_4  New York  dweek_172   1.14      NaN         NaN

     year event date weekday  weekday_int
9975  NaN   NaN  NaT     NaN          NaN
9976  NaN   NaN  NaT     NaN          NaN
9977  NaN   NaN  NaT     NaN          NaN
9978  NaN   NaN  NaT     NaN          NaN
9979  NaN   NaN  NaT     NaN          NaN
9980  NaN   NaN  NaT     NaN          NaN
9981  NaN   NaN  NaT     NaN          NaN
9982  NaN   NaN  NaT     NaN          NaN
9983  NaN   NaN  NaT     NaN          NaN
9984  NaN   NaN  NaT     NaN          NaN
9985  NaN   NaN  NaT     NaN          NaN
9986  NaN   NaN  NaT     NaN          NaN
9987  NaN   NaN  NaT     NaN          NaN
9988  NaN   NaN  NaT     NaN          NaN
9989  NaN   NaN  NaT     NaN          NaN
9990  NaN   NaN  NaT     NaN          NaN
9991  NaN   NaN  NaT     NaN          NaN
9992  NaN   NaN  NaT     NaN          NaN
9993  NaN   NaN  NaT     NaN          NaN
9994  NaN   NaN  NaT     NaN          NaN
9995  NaN   NaN  NaT     NaN          NaN
9996  NaN   NaN  NaT     NaN          NaN
9997  NaN   NaN  NaT     NaN          NaN
9998  NaN   NaN  NaT     NaN          NaN
9999  NaN   NaN  NaT     NaN          NaN

In [196]:

# Supondo que df_final_dd seja o DataFrame Dask onde você deseja calcular o total de sell_price
# Calcule o total de sell_price, ignorando NaN
total_sell_price = df_final_dd['sell_price'].sum().compute()

# Se você quiser contar quantos NaN existem na coluna sell_price
count_nan = df_final_dd['sell_price'].isna().sum().compute()

# Exibindo os resultados
print(f"Total de sell_price (ignora NaN): {total_sell_price}")
print(f"Total de NaN em sell_price: {count_nan}")

Total de sell_price (ignora NaN): inf
Total de NaN em sell_price: 7350000

In [208]:
# Verificar estatísticas descritivas dos dados
print(df_final_dd['sell_price'].describe().compute())

count   2,132,174.00
mean             inf
std              NaN
min             1.25
25%             5.28
50%             5.28
75%             6.17
max            12.74
Name: sell_price, dtype: float64

In [210]:

# Verificar estatísticas descritivas dos dados
print(df_final_dd['sales'].describe().compute())

count   9,482,174.00
mean             inf
std              NaN
min             0.00
25%             0.00
50%             0.29
75%             0.86
max            10.43
Name: sales, dtype: float64

In [ ]:
# [9482174 rows x 16 columns] #  9482174

In [ ]:
 
# Total de sell_price sem NaN
total_sell_price = df_final_dd['sell_price'].count().compute()
print(total_sell_price)

# Total de sell_price considerando NaN como zero
total_sell_price_with_nan_as_zero = df_final_dd['sell_price'].fillna(0).count().compute()
print(total_sell_price_with_nan_as_zero)

# Calcular a porcentagem
if total_sell_price_with_nan_as_zero > 0:  # Evitar divisão por zero
    percentage = (total_sell_price/  total_sell_price_with_nan_as_zero ) * 100
else:
    percentage = float('nan')  # Ou 0, dependendo da sua preferência

# Exibindo resultados
print(f"Total de sell_price (ignora NaN): {total_sell_price}")
print(f"Total de sell_price (considerando NaN como 0): {total_sell_price_with_nan_as_zero}")
print(f"Porcentagem de sell_price em relação ao total (considerando NaN como 0): {percentage:.2f}%" if not pd.isna(percentage) else "Porcentagem: Indefinida")

In [216]:
 
# Total de sales sem NaN
total_sales = df_final_dd['sales'].count().compute()
print(total_sales)

# Total de sell_price considerando NaN como zero
total_sales_with_nan_as_zero = df_final_dd['sales'].fillna(999).count().compute()
print(total_sales_with_nan_as_zero)

# Calcular a porcentagem
if total_sales_with_nan_as_zero > 0:  # Evitar divisão por zero
    percentage_sales = (total_sales/  total_sales_with_nan_as_zero ) * 100
else:
    percentage_sales = float('nan')  # Ou 0, dependendo da sua preferência

# Exibindo resultados
print(f"Total de sales (ignora NaN): {total_sales}")
print(f"Total de sales (considerando NaN como 999): {total_sales_with_nan_as_zero}")
print(f"Porcentagem de sales em relação ao total (considerando NaN como 999): {percentage_sales:.2f}%" if not pd.isna(percentage_sales) else "Porcentagem: Indefinida")

9482174
9482174
Total de sales (ignora NaN): 9482174
Total de sales (considerando NaN como 999): 9482174
Porcentagem de sales em relação ao total (considerando NaN como 999): 100.00%

In [217]:
# Total de entradas em sell_price
total_entries = df_final_dd['sell_price'].count().compute() + df_final_dd['sell_price'].isna().sum().compute()

# Total de valores nulos em sell_price
total_nan = df_final_dd['sell_price'].isna().sum().compute()

# Calcular a porcentagem de NaN
if total_entries > 0:  # Evitar divisão por zero
    nan_percentage = (total_nan / total_entries) * 100
else:
    nan_percentage = float('nan')  # Ou 0, dependendo da sua preferência

# Exibindo resultados
print(f"Total de entradas em sell_price: {total_entries}")
print(f"Total de valores nulos em sell_price: {total_nan}")
print(f"Porcentagem de valores nulos em sell_price: {nan_percentage:.2f}%" if not pd.isna(nan_percentage) else "Porcentagem: Indefinida")

Total de entradas em sell_price: 9482174
Total de valores nulos em sell_price: 7350000
Porcentagem de valores nulos em sell_price: 77.51%

In [221]:
# Cálculo do total de nulos e total de elementos
total_nulos = df_final_dd.isnull().sum().sum().compute()
total_elements = df_final_dd.size.compute()  # Computar o tamanho do DataFrame

# Evitar divisão por zero
if total_elements > 0:
    percentual_total_nulos_df_final_dd = (total_nulos / total_elements) * 100
else:
    percentual_total_nulos_df_final_dd = float('nan')  # Ou 0, dependendo da sua preferência

# Exibindo o resultado
print(f'Percentual total de nulos: {percentual_total_nulos_df_final_dd:.2f}%' if not pd.isna(percentual_total_nulos_df_final_dd) else "Percentual total de nulos: Indefinido")

Percentual total de nulos: 33.91%